﻿
@{
    ViewData["Title"] = "Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/404_page_style.css" />
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-6 col-xl-6 col-12 jumbotron">
            <h1>@ViewBag.ErrorMessage</h1>
            <br />
            <svg viewBox="0 0 1075 585" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="undraw_page_not_found_su7k 1" clip-path="url(#clip0)">
                    <g id="right-four">
                        <path id="Vector" d="M979.308 433.517H943.774V328.877C943.774 323.32 941.566 317.989 937.636 314.059C933.706 310.129 928.376 307.922 922.818 307.922H914.491C911.739 307.922 909.014 308.464 906.472 309.517C903.929 310.57 901.619 312.113 899.673 314.059C897.727 316.005 896.184 318.315 895.131 320.858C894.077 323.4 893.535 326.125 893.535 328.877V433.517H793.305C791.243 433.517 789.216 432.984 787.421 431.97C785.626 430.955 784.123 429.494 783.059 427.728C781.995 425.962 781.405 423.951 781.347 421.89C781.289 419.829 781.764 417.788 782.728 415.965L888.81 215.184C890.133 212.681 890.934 209.936 891.167 207.114C891.399 204.293 891.057 201.453 890.162 198.768C889.266 196.082 887.836 193.605 885.957 191.487C884.078 189.37 881.79 187.654 879.23 186.445L872.967 183.488C868.105 181.192 862.546 180.853 857.44 182.541C852.334 184.23 848.073 187.816 845.538 192.558L716.157 434.591C713.953 438.712 712.801 443.314 712.801 447.987V447.987C712.801 455.523 715.795 462.751 721.124 468.08C726.453 473.409 733.68 476.403 741.217 476.403H893.535V542.57C893.535 549.232 896.182 555.621 900.893 560.332C905.603 565.043 911.992 567.689 918.654 567.689V567.689C925.316 567.689 931.706 565.043 936.416 560.332C941.127 555.621 943.773 549.232 943.773 542.57V476.403H979.308C984.995 476.403 990.449 474.144 994.47 470.122C998.492 466.101 1000.75 460.647 1000.75 454.96V454.96C1000.75 449.273 998.492 443.819 994.47 439.797C990.449 435.776 984.995 433.517 979.308 433.517Z" fill="#51A482" />
                        <path id="Vector_2" d="M997.688 421.264H962.153V316.624C962.153 311.066 959.945 305.736 956.016 301.806C952.086 297.876 946.755 295.668 941.197 295.668H932.871C930.119 295.668 927.394 296.21 924.852 297.263C922.309 298.317 919.999 299.86 918.053 301.806C916.107 303.752 914.564 306.062 913.51 308.605C912.457 311.147 911.915 313.872 911.915 316.624V421.264H811.685C809.623 421.264 807.596 420.731 805.801 419.716C804.006 418.702 802.503 417.241 801.439 415.475C800.374 413.709 799.785 411.698 799.727 409.637C799.669 407.576 800.144 405.535 801.108 403.712L907.19 202.931C908.512 200.428 909.314 197.683 909.546 194.861C909.779 192.04 909.437 189.2 908.542 186.514C907.646 183.828 906.216 181.352 904.337 179.234C902.458 177.116 900.17 175.401 897.61 174.192L891.347 171.235C886.485 168.939 880.925 168.6 875.82 170.288C870.714 171.976 866.453 175.563 863.918 180.305L734.536 422.338C732.333 426.459 731.181 431.06 731.181 435.734C731.181 443.27 734.174 450.498 739.503 455.827C744.832 461.156 752.06 464.15 759.596 464.15H911.915V530.317C911.915 536.979 914.562 543.368 919.272 548.079C923.983 552.789 930.372 555.436 937.034 555.436V555.436C943.696 555.436 950.085 552.789 954.796 548.079C959.507 543.368 962.153 536.979 962.153 530.317V464.15H997.688C1000.5 464.15 1003.29 463.595 1005.89 462.517C1008.49 461.44 1010.86 459.86 1012.85 457.869C1014.84 455.878 1016.42 453.514 1017.5 450.913C1018.58 448.311 1019.13 445.523 1019.13 442.707V442.707C1019.13 437.02 1016.87 431.565 1012.85 427.544C1008.83 423.523 1003.37 421.264 997.688 421.264V421.264Z" stroke="#3F3D56" stroke-miterlimit="10" />
                    </g>
                    <g id="plant-right">
                        <path id="Vector_3" d="M1006.86 419.55C1009.89 420.651 1013.14 421.034 1016.34 420.667C1019.54 420.301 1022.62 419.196 1025.32 417.439C1028.02 415.683 1030.28 413.322 1031.91 410.544C1033.55 407.766 1034.51 404.647 1034.74 401.431C1034.96 398.216 1034.43 394.992 1033.2 392.015C1031.96 389.038 1030.05 386.388 1027.62 384.275C1025.19 382.161 1022.3 380.642 1019.17 379.837C1016.05 379.032 1012.79 378.962 1009.64 379.634L1010.16 390.347L1005.09 381.166C1000.11 383.503 996.271 387.72 994.404 392.889C993.741 394.699 993.338 396.595 993.207 398.519C992.887 403.032 994.048 407.527 996.512 411.322C998.976 415.117 1002.61 418.006 1006.86 419.55V419.55Z" fill="#EE6F2F" />
                        <path id="Vector_4" d="M1031.94 543.793C1030.15 534.683 1037.9 526.606 1045.56 521.357C1053.22 516.107 1062.17 510.949 1064.78 502.04C1068.53 489.236 1057.35 477.51 1048.64 467.398C1042.19 459.894 1036.64 451.65 1032.12 442.841C1030.31 439.308 1028.64 435.615 1028.17 431.674C1027.48 425.999 1029.31 420.351 1031.14 414.938C1037.26 396.903 1043.8 379.02 1050.77 361.288" stroke="#3F3D56" stroke-miterlimit="10" />
                        <path id="Vector_5" d="M1007.72 416.792C1010.75 417.893 1013.99 418.276 1017.2 417.909C1020.4 417.543 1023.47 416.438 1026.17 414.682C1028.88 412.925 1031.13 410.565 1032.77 407.787C1034.4 405.009 1035.37 401.889 1035.59 398.673C1035.82 395.458 1035.29 392.234 1034.06 389.257C1032.82 386.28 1030.91 383.63 1028.48 381.517C1026.04 379.403 1023.15 377.884 1020.03 377.079C1016.91 376.274 1013.64 376.204 1010.49 376.876L1011.01 387.589L1005.95 378.408C1000.97 380.745 997.128 384.962 995.262 390.131C994.599 391.941 994.196 393.837 994.064 395.761C993.745 400.274 994.905 404.769 997.369 408.564C999.833 412.359 1003.47 415.248 1007.72 416.792V416.792Z" stroke="#3F3D56" stroke-miterlimit="10" />
                        <path id="Vector_6" d="M1029.4 357.588C1030.59 354.308 1032.58 351.38 1035.2 349.073C1037.82 346.767 1040.97 345.157 1044.38 344.391L1046.09 354.574L1049.27 343.879C1053.68 343.944 1057.96 345.41 1061.48 348.064C1065 350.718 1067.59 354.423 1068.87 358.645C1070.15 362.866 1070.06 367.386 1068.6 371.551C1067.15 375.715 1064.41 379.31 1060.78 381.815C1057.15 384.32 1052.81 385.607 1048.4 385.489C1043.99 385.371 1039.73 383.854 1036.24 381.158C1032.75 378.462 1030.21 374.726 1028.98 370.49C1027.74 366.253 1027.89 361.735 1029.4 357.588H1029.4Z" fill="#EE6F2F" />
                        <path id="Vector_7" d="M1030.54 353.911C1031.73 350.631 1033.72 347.703 1036.34 345.396C1038.96 343.09 1042.12 341.479 1045.52 340.713L1047.23 350.897L1050.41 340.201C1054.82 340.267 1059.1 341.732 1062.62 344.387C1066.15 347.041 1068.74 350.746 1070.02 354.968C1071.3 359.189 1071.2 363.709 1069.75 367.873C1068.29 372.038 1065.55 375.633 1061.92 378.138C1058.29 380.643 1053.96 381.93 1049.55 381.812C1045.14 381.694 1040.88 380.177 1037.38 377.481C1033.89 374.785 1031.35 371.049 1030.12 366.813C1028.89 362.576 1029.04 358.058 1030.54 353.911H1030.54Z" stroke="#3F3D56" stroke-miterlimit="10" />
                        <path id="Vector_8" d="M1044.99 467.604C1049.8 469.347 1055.07 469.261 1059.82 467.363C1064.56 465.464 1068.44 461.886 1070.72 457.311C1072.99 452.735 1073.51 447.482 1072.16 442.553C1070.81 437.623 1067.7 433.362 1063.41 430.582L1060.97 438.801L1059.24 428.497C1059.22 428.489 1059.2 428.482 1059.18 428.477C1056.62 427.543 1053.89 427.125 1051.16 427.246C1048.42 427.367 1045.74 428.025 1043.27 429.182C1040.79 430.339 1038.56 431.973 1036.72 433.991C1034.87 436.008 1033.44 438.369 1032.51 440.94C1031.58 443.51 1031.16 446.238 1031.29 448.97C1031.41 451.701 1032.07 454.381 1033.23 456.857C1034.39 459.334 1036.02 461.557 1038.04 463.401C1040.06 465.245 1042.42 466.674 1044.99 467.604H1044.99Z" fill="#EE6F2F" />
                        <path id="Vector_9" d="M1045.98 463.88C1050.79 465.622 1056.06 465.536 1060.81 463.638C1065.55 461.74 1069.43 458.162 1071.71 453.586C1073.99 449.011 1074.5 443.758 1073.15 438.828C1071.8 433.899 1068.69 429.638 1064.4 426.857L1061.96 435.076L1060.23 424.772C1060.21 424.764 1060.19 424.758 1060.17 424.752C1057.61 423.818 1054.88 423.4 1052.15 423.521C1049.41 423.642 1046.73 424.3 1044.26 425.457C1041.78 426.615 1039.55 428.249 1037.71 430.266C1035.86 432.284 1034.43 434.645 1033.5 437.215C1032.57 439.785 1032.15 442.514 1032.28 445.245C1032.4 447.976 1033.06 450.656 1034.22 453.133C1035.38 455.609 1037.01 457.833 1039.03 459.677C1041.05 461.521 1043.41 462.949 1045.98 463.88H1045.98Z" stroke="#3F3D56" stroke-miterlimit="10" />
                        <path id="Vector_10" d="M1023.32 502.167C1024.15 506.867 1026.57 511.14 1030.17 514.27C1033.77 517.4 1038.34 519.195 1043.11 519.356C1047.88 519.517 1052.56 518.032 1056.37 515.152C1060.17 512.272 1062.87 508.171 1064.01 503.537C1065.15 498.903 1064.66 494.018 1062.63 489.701C1060.59 485.384 1057.14 481.897 1052.84 479.826C1048.54 477.755 1043.66 477.225 1039.02 478.326C1034.37 479.426 1030.25 482.09 1027.33 485.87L1036.61 499.826L1023.94 492.418C1022.95 495.572 1022.74 498.915 1023.32 502.167V502.167Z" fill="#EE6F2F" />
                        <path id="Vector_11" d="M1024.18 499.409C1025.01 504.109 1027.42 508.382 1031.03 511.512C1034.63 514.642 1039.2 516.437 1043.97 516.598C1048.74 516.759 1053.42 515.274 1057.22 512.394C1061.03 509.514 1063.73 505.413 1064.87 500.779C1066.01 496.145 1065.52 491.26 1063.49 486.943C1061.45 482.626 1058 479.139 1053.7 477.068C1049.4 474.997 1044.52 474.467 1039.87 475.568C1035.23 476.668 1031.1 479.332 1028.19 483.112L1037.46 497.068L1024.79 489.661C1023.81 492.814 1023.6 496.157 1024.18 499.409V499.409Z" stroke="#3F3D56" stroke-miterlimit="10" />
                    </g>
                    <g id="plant-left">
                        <path id="Vector_12" d="M11.0067 462.133C12.997 462.857 15.1282 463.108 17.2322 462.868C19.3362 462.627 21.3556 461.901 23.1312 460.747C24.9068 459.593 26.39 458.042 27.464 456.217C28.538 454.392 29.1734 452.342 29.3201 450.229C29.4668 448.117 29.1208 445.999 28.3094 444.043C27.498 442.086 26.2433 440.346 24.6442 438.957C23.0452 437.569 21.1455 436.57 19.0949 436.041C17.0444 435.512 14.8989 435.467 12.8277 435.908L13.17 442.946L9.84012 436.915C6.57204 438.45 4.04732 441.22 2.82076 444.617C2.38516 445.806 2.12035 447.052 2.03422 448.316C1.82404 451.281 2.58625 454.234 4.20534 456.728C5.82443 459.221 8.21217 461.119 11.0067 462.133V462.133Z" fill="#EE6F2F" />
                        <path id="Vector_13" d="M27.483 543.763C26.3076 537.778 31.401 532.471 36.4322 529.022C41.4633 525.573 47.3419 522.184 49.0586 516.331C51.5257 507.918 44.1769 500.214 38.4571 493.57C34.2136 488.64 30.5695 483.224 27.6009 477.436C26.3103 475.162 25.4312 472.679 25.0042 470.099C24.5532 466.37 25.7512 462.66 26.9581 459.103C30.9787 447.254 35.2775 435.504 39.8543 423.854" stroke="#3F3D56" stroke-miterlimit="10" />
                        <path id="Vector_14" d="M11.5699 460.321C13.5602 461.045 15.6913 461.296 17.7954 461.056C19.8994 460.815 21.9188 460.089 23.6944 458.935C25.4699 457.781 26.9532 456.23 28.0272 454.405C29.1012 452.579 29.7366 450.53 29.8833 448.417C30.03 446.304 29.684 444.187 28.8725 442.231C28.0611 440.274 26.8064 438.534 25.2074 437.145C23.6084 435.757 21.7087 434.758 19.6581 434.229C17.6075 433.7 15.4621 433.655 13.3909 434.096L13.7332 441.134L10.4033 435.103C7.13522 436.638 4.61049 439.408 3.38393 442.805C2.94834 443.994 2.68353 445.24 2.5974 446.503C2.3872 449.469 3.1494 452.422 4.7685 454.916C6.3876 457.409 8.77534 459.307 11.5699 460.321V460.321Z" stroke="#3F3D56" stroke-miterlimit="10" />
                        <path id="Vector_15" d="M25.8116 421.423C26.5927 419.268 27.9037 417.344 29.6236 415.829C31.3436 414.314 33.4174 413.256 35.6537 412.752L36.7796 419.443L38.867 412.416C41.7652 412.459 44.5747 413.422 46.89 415.166C49.2052 416.91 50.9064 419.344 51.7479 422.118C52.5894 424.891 52.5276 427.861 51.5715 430.597C50.6154 433.333 48.8145 435.695 46.4287 437.341C44.043 438.987 41.1958 439.832 38.2984 439.755C35.4009 439.677 32.603 438.681 30.3088 436.909C28.0145 435.138 26.3425 432.684 25.5341 429.9C24.7258 427.117 24.823 424.148 25.8116 421.423V421.423Z" fill="#EE6F2F" />
                        <path id="Vector_16" d="M26.5625 419.007C27.3436 416.852 28.6545 414.928 30.3745 413.413C32.0945 411.898 34.1682 410.84 36.4046 410.336L37.5305 417.027L39.6178 410C42.516 410.043 45.3256 411.006 47.6408 412.75C49.9561 414.494 51.6573 416.928 52.4987 419.702C53.3402 422.475 53.2785 425.445 52.3224 428.181C51.3663 430.917 49.5654 433.279 47.1796 434.925C44.7938 436.571 41.9467 437.416 39.0492 437.339C36.1517 437.261 33.3539 436.265 31.0596 434.493C28.7653 432.722 27.0933 430.267 26.285 427.484C25.4767 424.7 25.5738 421.732 26.5625 419.007V419.007Z" stroke="#3F3D56" stroke-miterlimit="10" />
                        <path id="Vector_17" d="M36.0568 493.706C39.2133 494.851 42.6806 494.794 45.798 493.547C48.9154 492.3 51.4649 489.949 52.9605 486.943C54.4561 483.937 54.7932 480.486 53.9076 477.247C53.022 474.008 50.9756 471.208 48.1585 469.381L46.5546 474.782L45.4172 468.012C45.406 468.007 45.3944 468.002 45.3824 467.999C43.6941 467.385 41.9013 467.11 40.1066 467.189C38.3118 467.268 36.5503 467.7 34.9226 468.461C33.295 469.221 31.8331 470.294 30.6206 471.62C29.408 472.946 28.4686 474.497 27.856 476.186C27.2433 477.875 26.9695 479.668 27.0502 481.462C27.1308 483.257 27.5643 485.018 28.3259 486.645C29.0875 488.272 30.1623 489.734 31.4888 490.945C32.8153 492.157 34.3676 493.095 36.0568 493.706V493.706Z" fill="#EE6F2F" />
                        <path id="Vector_18" d="M36.7074 491.259C39.8638 492.404 43.3312 492.347 46.4486 491.1C49.566 489.853 52.1154 487.502 53.611 484.496C55.1066 481.49 55.4437 478.038 54.5582 474.8C53.6726 471.561 51.6262 468.761 48.809 466.934L47.2051 472.335L46.0678 465.565C46.0566 465.559 46.0449 465.555 46.033 465.552C44.345 464.939 42.553 464.665 40.7592 464.746C38.9654 464.826 37.2049 465.259 35.5784 466.019C32.2934 467.555 29.7532 470.333 28.5165 473.742C27.2799 477.151 27.4481 480.912 28.9842 484.197C30.5203 487.482 33.2984 490.022 36.7074 491.259V491.259Z" stroke="#3F3D56" stroke-miterlimit="10" />
                        <path id="Vector_19" d="M21.8213 516.414C22.364 519.502 23.952 522.31 26.3191 524.366C28.6861 526.423 31.6882 527.602 34.8219 527.708C37.9555 527.813 41.0302 526.838 43.5302 524.946C46.0302 523.054 47.8035 520.359 48.5527 517.315C49.302 514.27 48.9815 511.06 47.6452 508.224C46.3089 505.387 44.0379 503.097 41.2131 501.736C38.3884 500.375 35.1816 500.027 32.1307 500.75C29.0797 501.473 26.3701 503.223 24.4563 505.707L30.5486 514.876L22.2242 510.009C21.5788 512.081 21.4406 514.278 21.8213 516.414V516.414Z" fill="#EE6F2F" />
                        <path id="Vector_20" d="M22.3844 514.602C22.9271 517.69 24.5151 520.498 26.8822 522.554C29.2492 524.61 32.2513 525.79 35.385 525.896C38.5186 526.001 41.5933 525.026 44.0933 523.134C46.5933 521.241 48.3666 518.547 49.1158 515.502C49.8651 512.458 49.5447 509.248 48.2083 506.412C46.872 503.575 44.601 501.285 41.7762 499.924C38.9515 498.563 35.7447 498.215 32.6938 498.938C29.6428 499.661 26.9332 501.411 25.0194 503.895L31.1117 513.064L22.7873 508.197C22.1419 510.269 22.0037 512.466 22.3844 514.602V514.602Z" stroke="#3F3D56" stroke-miterlimit="10" />
                    </g>
                    <g id="balls">
                        <path id="third-ball" d="M528 85.195C531.314 85.195 534 82.508 534 79.195C534 75.881 531.314 73.195 528 73.195C524.687 73.195 522 75.881 522 79.195C522 82.508 524.687 85.195 528 85.195Z" fill="#51A482" />
                        <path id="second-ball" d="M544.343 36.758C547.656 36.758 550.343 34.072 550.343 30.758C550.343 27.445 547.656 24.758 544.343 24.758C541.029 24.758 538.343 27.445 538.343 30.758C538.343 34.072 541.029 36.758 544.343 36.758Z" fill="#51A482" />
                        <path id="first-ball" d="M529.4 12C532.714 12 535.4 9.313 535.4 6C535.4 2.686 532.714 0 529.4 0C526.086 0 523.4 2.686 523.4 6C523.4 9.313 526.086 12 529.4 12Z" fill="#51A482" />
                    </g>
                    <g id="zero">
                        <path id="Vector_21" d="M520.426 167.01C434.482 167.01 372.775 222.149 372.775 350.808C372.775 496.621 434.482 535.218 520.426 535.218C606.37 535.218 671.753 492.945 671.753 350.808C671.753 198.868 606.37 167.01 520.426 167.01ZM520.991 486.818C461.464 486.818 430.365 451.895 430.365 350.902C430.365 261.79 462.737 214.797 522.264 214.797C581.791 214.797 614.163 245.665 614.163 350.902C614.163 449.349 580.517 486.818 520.991 486.818Z" fill="#2F2E41" fill-opacity="0.92" />
                        <path id="Vector_22" d="M480.946 341.116C490.335 341.116 497.946 331.266 497.946 319.116C497.946 306.965 490.335 297.116 480.946 297.116C471.557 297.116 463.946 306.965 463.946 319.116C463.946 331.266 471.557 341.116 480.946 341.116Z" fill="#2F2E41" />
                        <path id="Vector_23" d="M573.446 341.616C582.835 341.616 590.446 331.766 590.446 319.616C590.446 307.465 582.835 297.616 573.446 297.616C564.057 297.616 556.446 307.465 556.446 319.616C556.446 331.766 564.057 341.616 573.446 341.616Z" fill="#2F2E41" />
                        <path id="Vector_24" d="M560.446 384.616C560.446 394.556 546.566 402.616 529.446 402.616C512.326 402.616 498.446 394.556 498.446 384.616C498.446 376.006 508.856 368.806 522.766 367.046C524.981 366.753 527.212 366.61 529.446 366.616C533.189 366.603 536.922 367.006 540.576 367.816C552.196 370.406 560.446 376.956 560.446 384.616Z" fill="#2F2E41" />
                        <path id="Vector_25" d="M540.946 369.316C540.954 370.573 540.482 371.786 539.626 372.708C539.222 373.149 538.73 373.502 538.183 373.744C537.636 373.986 537.044 374.113 536.446 374.116H526.446C525.214 374.073 524.049 373.544 523.205 372.644C522.362 371.745 521.909 370.548 521.946 369.316C521.941 368.341 522.226 367.386 522.766 366.574C524.979 366.263 527.211 366.109 529.446 366.116C533.193 366.103 536.929 366.533 540.576 367.396C540.823 368.005 540.948 368.658 540.946 369.316V369.316Z" fill="white" />
                        <path id="Vector_26" d="M484.946 313.116C487.707 313.116 489.946 310.877 489.946 308.116C489.946 305.354 487.707 303.116 484.946 303.116C482.185 303.116 479.946 305.354 479.946 308.116C479.946 310.877 482.185 313.116 484.946 313.116Z" fill="white" />
                        <path id="Vector_27" d="M577.946 313.116C580.707 313.116 582.946 310.877 582.946 308.116C582.946 305.354 580.707 303.116 577.946 303.116C575.185 303.116 572.946 305.354 572.946 308.116C572.946 310.877 575.185 313.116 577.946 313.116Z" fill="white" />
                        <path id="Vector_28" opacity="0.3" d="M582.946 360.116C585.707 360.116 587.946 357.877 587.946 355.116C587.946 352.354 585.707 350.116 582.946 350.116C580.185 350.116 577.946 352.354 577.946 355.116C577.946 357.877 580.185 360.116 582.946 360.116Z" fill="#51A482" />
                        <path id="Vector_29" opacity="0.3" d="M460.946 360.116C463.707 360.116 465.946 357.877 465.946 355.116C465.946 352.354 463.707 350.116 460.946 350.116C458.185 350.116 455.946 352.354 455.946 355.116C455.946 357.877 458.185 360.116 460.946 360.116Z" fill="#51A482" />
                        <path id="Vector_30" d="M469.721 143.223L472.949 154.898L493.866 149.116L490.639 137.441L469.721 143.223Z" fill="#2F2E41" />
                        <path id="Vector_31" d="M471.169 156.958C473.184 156.401 473.614 151.593 472.128 146.22C470.643 140.847 467.805 136.943 465.791 137.5C463.776 138.057 463.346 142.864 464.832 148.237C466.317 153.61 469.154 157.515 471.169 156.958Z" fill="#2F2E41" />
                        <path id="Vector_32" d="M535.749 103.07C537.228 92.1599 535.65 82.9389 532.225 82.4749C528.8 82.0109 524.825 90.4789 523.346 101.389C521.867 112.299 523.445 121.52 526.87 121.985C530.295 122.449 534.271 113.981 535.749 103.07Z" fill="#2F2E41" />
                        <path id="Vector_33" d="M525.645 179.422C547.665 179.422 565.516 161.571 565.516 139.551C565.516 117.531 547.665 99.6798 525.645 99.6798C503.625 99.6798 485.774 117.531 485.774 139.551C485.774 161.571 503.625 179.422 525.645 179.422Z" fill="#2F2E41" />
                        <path id="Vector_34" d="M469.721 136.157L472.949 147.832L493.866 142.05L490.639 130.375L469.721 136.157Z" fill="#2F2E41" />
                        <path id="Vector_35" d="M471.168 149.897C473.183 149.34 473.613 144.533 472.127 139.16C470.642 133.787 467.804 129.882 465.79 130.439C463.775 130.996 463.345 135.804 464.831 141.177C466.316 146.55 469.153 150.454 471.168 149.897Z" fill="#2F2E41" />
                        <path id="Vector_36" d="M536.114 130.337C543.64 130.337 549.741 124.236 549.741 116.711C549.741 109.185 543.64 103.084 536.114 103.084C528.588 103.084 522.488 109.185 522.488 116.711C522.488 124.236 528.588 130.337 536.114 130.337Z" fill="white" />
                        <path id="Vector_37" d="M540.472 115.233C542.981 115.233 545.014 113.2 545.014 110.691C545.014 108.182 542.981 106.149 540.472 106.149C537.963 106.149 535.93 108.182 535.93 110.691C535.93 113.2 537.963 115.233 540.472 115.233Z" fill="#3F3D56" />
                        <path id="Vector_38" d="M571.688 166.95C586.442 166.212 597.743 152.411 596.927 136.125C596.112 119.84 583.491 107.236 568.736 107.975C553.982 108.713 551.667 120.295 552.482 136.581C553.297 152.867 556.933 167.688 571.688 166.95Z" fill="#CFCCE0" />
                        <path id="Vector_39" d="M509.35 122.682C506.948 122.876 504.568 122.108 502.732 120.548C500.897 118.987 499.756 116.761 499.562 114.36C499.368 111.958 500.135 109.578 501.696 107.742C503.256 105.907 505.482 104.766 507.884 104.572C512.885 104.167 514.249 108.137 514.653 113.138C515.058 118.139 514.35 122.277 509.35 122.682Z" fill="white" />
                    </g>
                    <g id="left-four">
                        <path id="Vector_40" d="M321.311 433.517H285.777V328.877C285.777 323.32 283.569 317.989 279.639 314.059C275.709 310.129 270.379 307.922 264.821 307.922H256.495C253.743 307.922 251.018 308.464 248.475 309.517C245.933 310.57 243.623 312.113 241.677 314.059C239.731 316.005 238.187 318.315 237.134 320.858C236.081 323.4 235.539 326.125 235.539 328.877V433.517H135.309C133.247 433.517 131.22 432.984 129.425 431.97C127.629 430.955 126.127 429.494 125.062 427.728C123.998 425.962 123.408 423.951 123.35 421.89C123.292 419.829 123.768 417.788 124.731 415.965L230.814 215.184C232.136 212.681 232.938 209.936 233.17 207.114C233.402 204.293 233.061 201.453 232.165 198.768C231.27 196.082 229.84 193.605 227.961 191.487C226.082 189.37 223.793 187.654 221.233 186.445L214.971 183.488C210.108 181.192 204.549 180.853 199.444 182.541C194.338 184.23 190.077 187.816 187.542 192.558L58.1602 434.591C55.957 438.712 54.8043 443.314 54.8043 447.987V447.987C54.8043 451.719 55.5393 455.414 56.9673 458.861C58.3954 462.309 60.4885 465.441 63.1271 468.08C65.7658 470.719 68.8983 472.812 72.3459 474.24C75.7935 475.668 79.4885 476.403 83.2202 476.403H235.539V542.57C235.539 545.869 236.189 549.135 237.451 552.183C238.713 555.23 240.564 557.999 242.896 560.332C245.229 562.664 247.998 564.515 251.045 565.777C254.093 567.039 257.359 567.689 260.658 567.689H260.658C263.957 567.689 267.223 567.039 270.271 565.777C273.318 564.515 276.087 562.664 278.42 560.332C280.752 557.999 282.603 555.23 283.865 552.183C285.127 549.135 285.777 545.869 285.777 542.57V476.403H321.311C326.998 476.403 332.452 474.144 336.474 470.122C340.495 466.101 342.754 460.647 342.754 454.96V454.96C342.754 449.273 340.495 443.819 336.474 439.797C332.453 435.776 326.998 433.517 321.311 433.517V433.517Z" fill="#51A482" />
                        <path id="Vector_41" d="M331.114 421.264H295.58V316.624C295.58 313.872 295.038 311.147 293.984 308.605C292.931 306.062 291.388 303.752 289.442 301.806C287.496 299.86 285.186 298.317 282.643 297.263C280.101 296.21 277.376 295.668 274.624 295.668H266.297C260.74 295.668 255.409 297.876 251.479 301.806C247.549 305.736 245.341 311.066 245.341 316.624V421.264H145.111C143.049 421.264 141.023 420.731 139.227 419.716C137.432 418.702 135.929 417.241 134.865 415.475C133.801 413.709 133.211 411.698 133.153 409.637C133.095 407.576 133.571 405.535 134.534 403.712L240.616 202.931C241.939 200.428 242.74 197.683 242.973 194.861C243.205 192.04 242.863 189.2 241.968 186.514C241.072 183.828 239.642 181.352 237.763 179.234C235.884 177.116 233.596 175.401 231.036 174.192L224.773 171.235C219.911 168.939 214.352 168.6 209.246 170.288C204.141 171.976 199.879 175.563 197.344 180.305L67.9627 422.338C65.7595 426.459 64.6069 431.06 64.6069 435.734V435.734C64.6069 443.27 67.6007 450.498 72.9297 455.827C78.2587 461.156 85.4864 464.15 93.0227 464.15H245.341V530.317C245.341 533.616 245.991 536.882 247.254 539.93C248.516 542.977 250.366 545.746 252.699 548.079C255.031 550.411 257.8 552.262 260.848 553.524C263.895 554.786 267.162 555.436 270.46 555.436H270.461C277.122 555.436 283.512 552.789 288.222 548.079C292.933 543.368 295.58 536.979 295.58 530.317V464.15H331.114C333.93 464.15 336.718 463.595 339.32 462.517C341.921 461.44 344.285 459.86 346.276 457.869C348.268 455.878 349.847 453.514 350.925 450.913C352.002 448.311 352.557 445.523 352.557 442.707V442.707C352.557 439.891 352.002 437.102 350.925 434.501C349.847 431.899 348.268 429.535 346.276 427.544C344.285 425.553 341.921 423.973 339.32 422.896C336.718 421.818 333.93 421.264 331.114 421.264V421.264Z" stroke="#3F3D56" stroke-miterlimit="10" />
                        <path id="Vector_42" d="M187.067 420.118C210.853 420.118 230.134 400.836 230.134 377.051C230.134 353.265 210.853 333.983 187.067 333.983C163.282 333.983 144 353.265 144 377.051C144 400.836 163.282 420.118 187.067 420.118Z" fill="#2F2E41" />
                        <path id="Vector_43" d="M180.525 410.85H167.441V434.292H180.525V410.85Z" fill="#2F2E41" />
                        <path id="Vector_44" d="M206.693 410.85H193.609V434.292H206.693V410.85Z" fill="#2F2E41" />
                        <path id="Vector_45" d="M178.345 438.653C184.366 438.653 189.248 436.823 189.248 434.565C189.248 432.306 184.366 430.476 178.345 430.476C172.323 430.476 167.441 432.306 167.441 434.565C167.441 436.823 172.323 438.653 178.345 438.653Z" fill="#2F2E41" />
                        <path id="Vector_46" d="M204.512 438.108C210.534 438.108 215.415 436.278 215.415 434.019C215.415 431.761 210.534 429.931 204.512 429.931C198.49 429.931 193.609 431.761 193.609 434.019C193.609 436.278 198.49 438.108 204.512 438.108Z" fill="#2F2E41" />
                        <path id="Vector_47" d="M188.157 380.867C196.287 380.867 202.877 374.277 202.877 366.148C202.877 358.018 196.287 351.428 188.157 351.428C180.028 351.428 173.438 358.018 173.438 366.148C173.438 374.277 180.028 380.867 188.157 380.867Z" fill="white" />
                        <path id="Vector_48" d="M188.157 371.054C190.867 371.054 193.064 368.857 193.064 366.148C193.064 363.438 190.867 361.241 188.157 361.241C185.448 361.241 183.251 363.438 183.251 366.148C183.251 368.857 185.448 371.054 188.157 371.054Z" fill="#3F3D56" />
                        <path id="Vector_49" d="M145.29 336.999C141.813 321.426 152.929 305.689 170.119 301.851C187.309 298.012 204.063 307.526 207.541 323.099C211.018 338.673 199.626 344.417 182.436 348.255C165.246 352.094 148.768 352.573 145.29 336.999Z" fill="#CFCCE0" />
                    </g>
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="1074.39" height="584.231" fill="white" />
                    </clipPath>
                </defs>
            </svg>

        </div>
    </div>

