﻿<link rel="stylesheet" href="~/css/progress_style.css" type="text/css"/>
<svg viewBox="0 0 1010 751" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="progress 1" clip-path="url(#clip0)">
        <g id="undraw in progress ql66 1">
            <path id="background" opacity="0.1" d="M586.819 104.13C522.07 102.474 460.402 87.078 401.516 70.2339C342.629 53.3897 284.303 34.6906 221.104 25.7626C180.456 20.0189 133.965 19.2055 101.22 35.2659C69.6956 50.7014 59.511 77.3465 54.0385 102.146C49.9167 120.766 47.4956 140.358 58.7807 157.788C66.6242 169.89 80.5305 180.058 90.1548 191.654C123.64 231.989 99.9693 281.718 63.6929 321.1C46.6852 339.571 26.9263 357.189 13.7903 376.861C0.654408 396.532 -5.41834 419.05 6.07686 439.118C17.462 458.958 44.6043 473.928 74.0075 484.433C133.725 505.771 204.066 511.872 272.707 515.334C424.606 522.992 577.305 519.669 729.604 516.326C785.969 515.096 842.575 513.856 898.02 507.398C928.814 503.836 960.598 498.172 982.958 484.512C1011.33 467.172 1018.36 437.809 999.346 416.064C967.451 379.589 879.291 370.522 856.971 331.377C844.706 309.831 857.301 285.835 875.14 265.846C913.397 222.982 977.516 185.375 980.887 136.37C983.208 102.722 952.384 69.0137 904.723 53.0921C854.77 36.4067 785.489 38.4998 748.652 66.127C710.685 94.6073 643.995 105.559 586.819 104.13Z" fill="#51A482" />
            <g id="plant" opacity="0.8">
                <path id="Vector" opacity="0.8" d="M938.77 178.78C938.77 178.78 927.49 174.2 891.61 190.66C855.73 207.12 851.25 205.03 841.96 202.51C832.67 199.99 827.49 199.4 817.53 185.66C817.53 185.66 810.53 147.59 803.71 141.66C796.89 135.73 768.03 145.03 768.03 145.03C768.03 145.03 733.41 152.99 726.77 106.7C726.77 106.7 731.45 71.8201 725.07 61.1101C725.07 61.1101 737.95 66.6601 759.19 57.7001C780.43 48.7401 797.43 67.3601 797.43 67.3601C797.43 67.3601 802.79 81.2301 802.23 89.4901C801.67 97.7501 805.06 100.87 815.23 96.8701C815.23 96.8701 820.23 89.7901 813.16 78.0901C806.09 66.3901 801.08 57.6701 803.05 48.5801C805.02 39.4901 810.67 26.9001 828.84 20.5801C847.01 14.2601 871.7 13.0801 883.55 8.20005C895.4 3.32005 898.26 0.0500488 898.26 0.0500488C898.26 0.0500488 890.97 7.36005 908.15 38.3201C925.33 69.2801 914.38 82.7301 914.38 82.7301C914.38 82.7301 905.24 104.51 864.9 102.73C864.9 102.73 826.03 104.15 847.22 120.63C847.22 120.63 860.79 117.87 881.09 111.42C901.39 104.97 916.02 131.59 919.66 150.11C923.3 168.63 938.77 178.78 938.77 178.78Z" fill="#51A482" />
                <path id="Vector 2" opacity="0.8" d="M886.53 23.4901L886.74 23.4301C888.3 29.3401 870.93 53.0801 856.08 71.9601L855.91 71.8301C876.85 45.2001 887.77 28.0301 886.53 23.4901Z" fill="#444053" />
                <path id="Vector 3" opacity="0.8" d="M856.21 71.4399L856.3 71.6799C844.44 86.7599 829.52 104.76 817.58 118.09C816.44 119.36 815.31 120.69 814.23 122.09L813.88 121.82C814.98 120.45 816.11 119.11 817.25 117.82C829.19 104.47 844.36 86.5099 856.21 71.4399Z" fill="#444053" />
                <path id="Vector 4" opacity="0.8" d="M814.17 121.42L814.41 121.82C792.68 148.95 791.24 191.07 791.19 191.44L786.61 186.2C786.66 185.78 792.29 148.73 814.17 121.42Z" fill="#444053" />
                <path id="Vector 5" opacity="0.8" d="M913.58 164.07C913.58 164.07 887.96 150.75 867.99 155.53C848.02 160.31 803.07 138.63 803.07 138.63C803.07 138.63 783.98 130.88 780.14 122.04C780.14 122.04 767.05 108.19 766.3 101.04C765.55 93.89 752.77 75.85 744.49 75.2" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 6" opacity="0.8" d="M909.87 176.89C909.87 176.89 896.97 168.2 898.47 158.06" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 7" opacity="0.8" d="M890.08 188.12C890.08 188.12 871.62 181.42 869.77 155.12" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 8" opacity="0.8" d="M860.3 194.92C860.3 194.92 842.66 180.29 848.52 154.72" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 9" opacity="0.8" d="M824.51 187.77C824.51 187.77 812.77 163.14 823.22 147.12" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 10" opacity="0.8" d="M913.88 147.83C913.88 147.83 900.53 152.07 903.4 159.09" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 11" opacity="0.8" d="M897.77 123.61C897.77 123.61 879.91 129.27 879.49 154.54" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 12" opacity="0.8" d="M872.87 117.78C872.87 117.78 856.62 137.84 857.77 156.07" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 13" opacity="0.8" d="M844.41 125.65C844.41 125.65 828.26 141.08 830.32 149.65" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 14" opacity="0.8" d="M834.67 120.2C834.67 120.2 819.53 122.91 817.42 117.94" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 15" opacity="0.8" d="M815 101.92C815 101.92 822.65 112.05 824.62 109.78" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 16" opacity="0.8" d="M890.82 95.51C890.82 95.51 852.66 98.28 844.03 86.78" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 17" opacity="0.8" d="M806.97 50.8801C806.97 50.8801 824.88 89.3101 837.88 94.2101" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 18" opacity="0.8" d="M825.77 32.5701C825.77 32.5701 836.77 67.9201 850.39 78.9601" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 19" opacity="0.8" d="M906.88 66.3399C906.88 66.3399 877.88 78.7899 860.44 66.1899" stroke="#444053" stroke-width="0.75" stroke-miterlimit="10" />
                <path id="Vector 20" opacity="0.8" d="M851.61 25.03C851.61 25.03 858.24 51.03 867.17 57.3" stroke="#444053" stroke-width="0.75" stroke-miterlimit="10" />
                <path id="Vector 21" opacity="0.8" d="M902.5 37.2C902.5 37.2 886.19 43.3699 880.1 38.6399" stroke="#444053" stroke-width="0.75" stroke-miterlimit="10" />
                <path id="Vector 22" opacity="0.8" d="M801.03 110.41C801.03 110.41 801.03 133.06 794.86 134.67" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 23" opacity="0.8" d="M750.61 139.76C750.61 139.76 775.11 141.86 786.4 129.22" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 24" opacity="0.8" d="M794.71 83.6501C794.71 83.6501 788.79 106.65 772.44 112.81" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 25" opacity="0.8" d="M735.92 115.56C735.92 115.56 753.26 121.56 768.17 106.24" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 26" opacity="0.8" d="M775.44 63.9001C775.44 63.9001 773.8 83.4101 763.19 92.5401" stroke="#444053" stroke-miterlimit="10" />
                <path id="Vector 27" opacity="0.8" d="M736.58 85.83C736.58 85.83 750.97 85.92 754.34 81.24" stroke="#444053" stroke-miterlimit="10" />
            </g>
            <g id="second-wheel">
                <path id="Vector 28" d="M557.4 280.55C571.016 280.55 584.326 284.588 595.646 292.152C606.967 299.717 615.791 310.469 621.001 323.048C626.211 335.628 627.574 349.47 624.917 362.824C622.26 376.178 615.702 388.444 606.074 398.071C596.445 407.698 584.178 414.253 570.824 416.909C557.47 419.564 543.628 418.199 531.049 412.987C518.47 407.775 507.72 398.95 500.157 387.628C492.594 376.306 488.558 362.996 488.56 349.38C488.563 331.124 495.817 313.617 508.726 300.709C521.636 287.801 539.144 280.55 557.4 280.55ZM557.4 263.55C540.422 263.55 523.825 268.585 509.709 278.017C495.592 287.45 484.59 300.857 478.093 316.543C471.596 332.229 469.897 349.489 473.21 366.14C476.523 382.792 484.7 398.087 496.705 410.092C508.711 422.096 524.008 430.271 540.66 433.582C557.312 436.893 574.571 435.192 590.256 428.693C605.941 422.194 619.347 411.191 628.778 397.073C638.209 382.955 643.242 366.358 643.24 349.38C643.213 326.623 634.161 304.806 618.068 288.715C601.976 272.624 580.157 263.574 557.4 263.55Z" fill="#3F3D56" />
                <path id="Vector 29" d="M564.81 243.47H544.69V264.65H564.81V243.47Z" fill="#3F3D56" />
                <path id="Vector 30" d="M617.943 262.424L600.697 252.061L589.789 270.216L607.035 280.579L617.943 262.424Z" fill="#3F3D56" />
                <path id="Vector 31" d="M653.311 304.342L643.557 286.744L625.033 297.013L634.787 314.61L653.311 304.342Z" fill="#3F3D56" />
                <path id="Vector 32" d="M643.293 411.439L653.955 394.376L635.993 383.152L625.331 400.215L643.293 411.439Z" fill="#3F3D56" />
                <path id="Vector 33" d="M480.019 314.603L489.774 297.006L471.249 286.737L461.495 304.335L480.019 314.603Z" fill="#3F3D56" />
                <path id="Vector 34" d="M489.477 400.207L478.815 383.145L460.854 394.368L471.516 411.431L489.477 400.207Z" fill="#3F3D56" />
                <path id="Vector 35" d="M507.761 280.577L525.007 270.215L514.099 252.06L496.852 262.422L507.761 280.577Z" fill="#3F3D56" />
                <path id="Vector 36" d="M564.81 434.11H544.69V455.29H564.81V434.11Z" fill="#3F3D56" />
                <path id="Vector 37" d="M607.038 418.186L589.791 428.549L600.7 446.704L617.946 436.341L607.038 418.186Z" fill="#3F3D56" />
                <path id="Vector 38" d="M496.855 436.343L514.101 446.705L525.01 428.55L507.764 418.188L496.855 436.343Z" fill="#3F3D56" />
                <path id="Vector 39" d="M473.74 340.91H449.38V358.91H473.74V340.91Z" fill="#3F3D56" />
                <path id="Vector 40" d="M641.06 358.91H665.42V340.91H641.06V358.91Z" fill="#3F3D56" />
            </g>
            <g id="third-wheel">
                <path id="Vector 41" d="M717.32 156.64C730.936 156.64 744.246 160.678 755.567 168.242C766.887 175.807 775.711 186.559 780.921 199.138C786.131 211.718 787.494 225.56 784.837 238.914C782.18 252.268 775.622 264.534 765.994 274.161C756.365 283.788 744.098 290.343 730.744 292.999C717.39 295.654 703.548 294.289 690.969 289.077C678.39 283.865 667.64 275.04 660.077 263.718C652.514 252.396 648.478 239.086 648.48 225.47C648.483 207.214 655.737 189.707 668.646 176.799C681.556 163.891 699.064 156.64 717.32 156.64ZM717.32 139.64C700.342 139.64 683.745 144.675 669.629 154.107C655.512 163.54 644.51 176.947 638.013 192.633C631.517 208.319 629.817 225.579 633.13 242.23C636.443 258.882 644.62 274.177 656.625 286.182C668.631 298.186 683.928 306.361 700.58 309.672C717.232 312.983 734.491 311.282 750.177 304.783C765.862 298.284 779.267 287.281 788.698 273.163C798.129 259.045 803.162 242.448 803.16 225.47C803.134 202.713 794.081 180.896 777.988 164.805C761.896 148.714 740.077 139.664 717.32 139.64Z" fill="#3F3D56" />
                <path id="Vector 42" d="M724.73 119.57H704.61V140.75H724.73V119.57Z" fill="#3F3D56" />
                <path id="Vector 43" d="M777.87 138.507L760.624 128.145L749.715 146.299L766.961 156.662L777.87 138.507Z" fill="#3F3D56" />
                <path id="Vector 44" d="M813.236 180.428L803.482 162.831L784.957 173.099L794.712 190.696L813.236 180.428Z" fill="#3F3D56" />
                <path id="Vector 45" d="M803.21 287.531L813.872 270.468L795.91 259.244L785.248 276.307L803.21 287.531Z" fill="#3F3D56" />
                <path id="Vector 46" d="M639.933 190.705L649.687 173.108L631.163 162.84L621.408 180.437L639.933 190.705Z" fill="#3F3D56" />
                <path id="Vector 47" d="M649.394 276.305L638.732 259.242L620.77 270.466L631.432 287.528L649.394 276.305Z" fill="#3F3D56" />
                <path id="Vector 48" d="M667.681 156.664L684.927 146.301L674.019 128.146L656.772 138.509L667.681 156.664Z" fill="#3F3D56" />
                <path id="Vector 49" d="M724.73 310.2H704.61V331.38H724.73V310.2Z" fill="#3F3D56" />
                <path id="Vector 50" d="M766.957 294.28L749.711 304.642L760.62 322.797L777.866 312.435L766.957 294.28Z" fill="#3F3D56" />
                <path id="Vector 51" d="M656.769 312.429L674.015 322.792L684.923 304.637L667.677 294.274L656.769 312.429Z" fill="#3F3D56" />
                <path id="Vector 52" d="M633.65 217H609.29V235H633.65V217Z" fill="#3F3D56" />
                <path id="Vector 53" d="M800.99 235H825.35V217H800.99V235Z" fill="#3F3D56" />
            </g>
            <g id="first-wheel">
                <path id="Vector 54" d="M397.44 151.34C398.25 151.34 399.06 151.34 399.87 151.34C417.913 151.955 434.993 159.634 447.428 172.722C459.864 185.81 466.661 203.259 466.354 221.31C466.047 239.361 458.661 256.569 445.788 269.227C432.914 281.885 415.584 288.978 397.53 288.98C396.72 288.98 395.91 288.98 395.09 288.98C377.046 288.365 359.966 280.685 347.53 267.596C335.094 254.507 328.298 237.057 328.606 219.005C328.915 200.953 336.302 183.745 349.178 171.088C362.053 158.431 379.385 151.339 397.44 151.34ZM397.44 134.34C374.927 134.337 353.313 143.179 337.257 158.961C321.201 174.742 311.988 196.2 311.602 218.71C311.216 241.22 319.69 262.98 335.196 279.303C350.702 295.625 372 305.202 394.5 305.97C395.5 305.97 396.5 306.02 397.5 306.02C420.012 306.02 441.624 297.176 457.678 281.394C473.732 265.612 482.944 244.154 483.328 221.645C483.712 199.136 475.239 177.377 459.732 161.056C444.226 144.735 422.929 135.158 400.43 134.39C399.43 134.39 398.43 134.34 397.43 134.34H397.44Z" fill="#3F3D56" />
                <path id="Vector 55" d="M408.552 114.608L388.444 113.909L387.709 135.076L407.816 135.775L408.552 114.608Z" fill="#3F3D56" />
                <path id="Vector 56" d="M460.988 135.38L444.112 124.425L432.579 142.19L449.455 153.145L460.988 135.38Z" fill="#3F3D56" />
                <path id="Vector 57" d="M494.885 178.499L485.748 160.574L466.878 170.193L476.015 188.118L494.885 178.499Z" fill="#3F3D56" />
                <path id="Vector 58" d="M481.167 285.156L492.415 268.474L474.854 256.633L463.606 273.316L481.167 285.156Z" fill="#3F3D56" />
                <path id="Vector 59" d="M321.338 182.73L331.698 165.482L313.541 154.576L303.181 171.824L321.338 182.73Z" fill="#3F3D56" />
                <path id="Vector 60" d="M326.415 270.27L316.355 252.766L297.928 263.356L307.988 280.86L326.415 270.27Z" fill="#3F3D56" />
                <path id="Vector 61" d="M350.269 149.672L367.864 139.915L357.593 121.392L339.997 131.15L350.269 149.672Z" fill="#3F3D56" />
                <path id="Vector 62" d="M401.941 305.113L381.833 304.415L381.097 325.582L401.205 326.28L401.941 305.113Z" fill="#3F3D56" />
                <path id="Vector 63" d="M444.706 290.682L427.11 300.439L437.381 318.962L454.977 309.204L444.706 290.682Z" fill="#3F3D56" />
                <path id="Vector 64" d="M333.972 304.978L350.848 315.933L362.38 298.168L345.504 287.213L333.972 304.978Z" fill="#3F3D56" />
                <path id="Vector 65" d="M314.16 208.815L289.815 207.969L289.19 225.958L313.535 226.804L314.16 208.815Z" fill="#3F3D56" />
                <path id="Vector 66" d="M480.777 232.587L505.122 233.433L505.747 215.444L481.402 214.598L480.777 232.587Z" fill="#3F3D56" />
            </g>
            <g id="happy-bean">
                <path id="left-hand" d="M245.983 369.942C250.229 358.833 250.844 348.747 247.357 347.414C243.869 346.081 237.6 354.006 233.354 365.115C229.108 376.224 228.493 386.31 231.98 387.643C235.468 388.976 241.737 381.051 245.983 369.942Z" fill="#2F2E41" />
                <path id="Vector 68" d="M199.861 443.118C223.647 443.118 242.929 423.836 242.929 400.051C242.929 376.265 223.647 356.983 199.861 356.983C176.076 356.983 156.794 376.265 156.794 400.051C156.794 423.836 176.076 443.118 199.861 443.118Z" fill="#2F2E41" />
                <path id="Vector 69" d="M193.319 433.85H180.236V457.292H193.319V433.85Z" fill="#2F2E41" />
                <path id="Vector 70" d="M219.487 433.85H206.403V457.292H219.487V433.85Z" fill="#2F2E41" />
                <path id="Vector 71" d="M191.139 461.653C197.16 461.653 202.042 459.823 202.042 457.565C202.042 455.307 197.16 453.476 191.139 453.476C185.117 453.476 180.236 455.307 180.236 457.565C180.236 459.823 185.117 461.653 191.139 461.653Z" fill="#2F2E41" />
                <path id="Vector 72" d="M217.306 461.108C223.328 461.108 228.209 459.278 228.209 457.02C228.209 454.761 223.328 452.931 217.306 452.931C211.285 452.931 206.403 454.761 206.403 457.02C206.403 459.278 211.285 461.108 217.306 461.108Z" fill="#2F2E41" />
                <path id="Vector 73" d="M200.952 403.867C209.081 403.867 215.671 397.277 215.671 389.148C215.671 381.019 209.081 374.428 200.952 374.428C192.822 374.428 186.232 381.019 186.232 389.148C186.232 397.277 192.822 403.867 200.952 403.867Z" fill="white" />
                <path id="Vector 74" d="M200.952 394.054C203.661 394.054 205.858 391.857 205.858 389.148C205.858 386.438 203.661 384.241 200.952 384.241C198.242 384.241 196.045 386.438 196.045 389.148C196.045 391.857 198.242 394.054 200.952 394.054Z" fill="#3F3D56" />
                <path id="Vector 75" d="M158.085 359.999C154.607 344.426 165.723 328.689 182.913 324.851C200.103 321.012 216.857 330.526 220.335 346.099C223.812 361.673 212.42 367.417 195.23 371.256C178.04 375.094 161.562 375.573 158.085 359.999Z" fill="#CFCCE0" />
                <path id="right-hand" d="M170.809 389.295C172.409 385.922 164.995 379.056 154.25 373.959C143.505 368.863 133.497 367.466 131.897 370.84C130.297 374.213 137.711 381.079 148.456 386.175C159.202 391.272 169.21 392.669 170.809 389.295Z" fill="#2F2E41" />
                <path id="Vector 77" d="M178.707 415.588C178.707 419.803 189.56 428.126 201.603 428.126C213.647 428.126 224.939 416.259 224.939 412.044C224.939 407.829 213.647 412.862 201.603 412.862C189.56 412.862 178.707 411.373 178.707 415.588Z" fill="white" />
            </g>
        </g>
    </g>
    <defs>
        <clipPath id="clip0">
            <rect width="1010" height="751" fill="white" />
        </clipPath>
    </defs>
</svg>
