﻿
@{
    ViewData["Title"] = "Credits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-xl-6 col-lg-6 jumbotron">
            <h1>Credits</h1>
            <hr />
            <p>The icons used on the sidebar from the Smart Project Allocation website have been downloaded from the <a href="https://www.flaticon.com" target="_blank">www.flaticon.com</a></p>
            <p>In order to be able to use the icons, the authors must be included on the website. Below, you can find the list with the authors:</p>
            <ul>
                <li>
                    <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/ddara" title="dDara">dDara</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/bqlqn" title="bqlqn">bqlqn</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </li>
                <li>
                    <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/pause08" title="Pause08">Pause08</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/wichaiwi" title="Wichai.wi">Wichai.wi</a> from
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/authors/phatplus" title="phatplus">phatplus</a> from 
                    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </li>
            </ul>
        </div>
    </div>

