﻿
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Welcome back!</h1>*@

<div class="row justify-content-center">
    <div class="col-md-10 row justify-content-around jumbotron row justify-content-center">
        <div class="row justify-content-center col-12 col-md-4 col-lg-4 col-xl-4 border-right">
            <div class="container-title col-12 border-bottom">
                <h3 class="col-12">System information</h3>
            </div>
            <div class="container-content col-12 border-bottom">
                <p>There are @ViewData["students"] students into the system.</p>
                <p>There are @ViewData["professors"] professors into the system.</p>
                <p>There are @ViewData["options"] options sent.</p>
                @if(ViewData["deadlines"] == null){
                <p>There is no deadline active.</p>

                }else{
                <p>There is an active deadline.</p>

                }
            </div>
            <div class="container-deadline col-12 border-bottom">
                <h4 id="deadline-title"></h4>
                <p id="deadline-description"></p>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
            <div class="calendar"></div>
        </div>

        @*<div class="col-md-10 row justify-content-center jumbotron">*@
        @*<div class="col-md-3 jumbotron item" onmouseover="show_info(this)" onmouseout="hide_info(this)">
                <img src="~/images/clock(2).svg" />
                <h4>Your deadlines</h4>
                <p>There are @ViewData["deadlines"] deadlines set.</p>
            </div>

            <div class="item col-md-3 jumbotron" onmouseover="show_info(this)" onmouseout="hide_info(this)">
                <img src="~/images/alarm.svg" />
                <h4>Options</h4>
                <p>There are @ViewData["options"] options sent.</p>
            </div>

            <div class="item col-md-3 jumbotron" onmouseover="show_info(this)" onmouseout="hide_info(this)">
                <img src="~/images/student.svg" />
                <h4>Students</h4>
                <p>There are @ViewData["students"] students into the system.</p>
            </div>

            <div class="item col-md-3 jumbotron" onmouseover="show_info(this)" onmouseout="hide_info(this)">
                <img src="~/images/teacher.svg" />
                <h4>Professors</h4>
                <p>There are @ViewData["professors"] professors into the system.</p>
            </div>*@
        @*<div class="calendar">
            </div>*@
    </div>
</div>
