﻿@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" type="text/css" />
<div class="row justify-content-around" id="introduction-container">
    <div class="col-12 col-md-3 col-lg-3 col-xl-3 row justify-content-around">
        <div class="col-11" id="message-container">
            <h1 id="welcome-message">Welcome to SPA!</h1>
            <h3 id="sub-welcome-message">Make an account and start the journey...</h3>
        </div>
    </div>
    <div class="col-12 col-md-9 col-xl-9 col-lg-9 order-first order-md-last order-lg-last order-xl-last">
        <img src="~/images/svgs/home_main_image.svg" alt="Beans with woman with laptop" style="width: 100%; margin-top: -23%; margin-left: 10%; background-size:contain;" />
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-10 col-lg-10 col-xl-10 col-12 home-section">
        <div class="row justify-content-around">
            <div class="col-md-5 col-lg-5 col-xl-5 col-11">
                <h2 style="color: #EE6F2F"><span id="personality-test"></span>Find the perfect match</h2>
                <br />
                <p class="card-text">
                    Take a personality test and set the technologies that you find interesting. You can see the professors and you can
                    see the compatibility, tags and personality scores. The
                    personality test used is the Big Five Personality test. The tags score is the number of common tags/ the number of student's tags.
                </p>
                <br />
                <p>
                    You can see the professors and for each one of them, a compatibility score will be listed. Choose the best option for you.
                </p>
            </div>
            <div class="col-md-7 col-xl-7 col-lg-7 col-11">
                <partial name="_OptionsPartial" />
            </div>
        </div>

        <hr/>

        <div class="row justify-content-around home-section">
            <div class="col-md-5 col-lg-5 col-xl-5 col-11">
                <h2 style="color: #EE6F2F"><span id="perfect-match"></span>Find the perfect match</h2>
                <br />
                <p class="card-text">
                    After taking the personality test, you can see your results in a chart form.<br />
                    The chart will have 5 scores. Each score's meaning will be explained in detail.<br />
                    The personality test is the Big Five Personality test, one of the most known and used test.
                </p>
                <br />
                <p>
                    You can also retake the test if you want to.
                </p>
            </div>
            <div class="col-md-7 col-xl-7 col-lg-7 col-11">
                <partial name="_ChartPartialSVG" />
            </div>
        </div>

        <hr/>

        <div class="row justify-content-center home-section">
            <div class="col-md-5 col-lg-5 col-xl-5 col-11">
                <h2 style="color: #EE6F2F"><span id="notification"></span>Find the results</h2>
                <br />
                <p class="card-text">
                    You will be notified with the latest information such as:
                    <ul>
                        <li>
                            When one of your options was accepted
                        </li>
                        <li>
                            One of your options was rejected
                        </li>
                    </ul>
                    <br />
                    You will receive the information via email.
                    Once you have an accepted option, your other pending options will become inactive.
                </p>
            </div>
            <div class="col-md-7 col-xl-7 col-lg-7 col-11">
                <partial name="_EmailPartial" style="align-content: center;"/>
            </div>
        </div>

        <hr/>

        <div class="row justify-content-center home-section">
            <div class="col-md-5 col-lg-5 col-xl-5 col-11">
                <h2 style="color: #EE6F2F"><span id="allocation-process"></span>How it works</h2>
                <br />
                <h3>Before the allocation</h3>
                <p class="card-text">
                    The administrator will add a new deadline. While a deadline is active (within 5 days until the due date), you can send 3 options. You can edit an option if you want to.
                </p>
                <p>
                    After the deadline passes, the professors will sort their received options.
                </p>
                <p>
                    In three days, the professors must sort their options lists.
                </p>
                <p>
                    After the sorting period passes, the administrator will start the allocation mechanism.
                </p>
                <h3>The allocation:</h3>
                <p>
                    The allocation process has two steps:
                    <ul>
                        <li>
                            The first step: The first options for each student will be checked in order to see if it is on a valid place (on the professor's list).
                            If the option is on a valid place, it will be accepted. Then if the professor is not available anymore, the rest of the options received by the professor will be rejected.
                            If the option is not on a valid place, it will remain as pending and it can be accepted in the second step of the allocation process.
                        </li>
                        <li>
                            The second step: In this step, for each student, a priority list will be created and for each pending option, a priority score will be computed based on the place in the student's list, on the professor's list and on the number of the available spots for the professor.
                            After that, the option with the greatest priority will be accepted and the other options will be marked as inactive.
                            When the professor becomes not available, then the pending options that have been sent to this professor will be rejected.
                        </li>
                    </ul>
                </p>
                <h3>After the allocation</h3>
                <p>
                    If you do not have an accepted option after the allocation process, a new iteration will be started (including a new deadline, new projects proposed by the available professors, sorting, etc.).
                </p>
            </div>
            <div class="col-md-7 col-xl-7 col-lg-7 col-11 justify-content-center">
                <partial name="_ProcessPartial" />
            </div>

        </div>

    </div>
</div>