﻿@model IEnumerable<BachelorsDegreeManagement.ApplicationLogic.ViewModels.GetStudentsSuggestionsViewModel>

@{
    ViewData["Title"] = "Suggestions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="jumbotron row justify-content-center col-11 col-md-10 col-lg-10 col-xl-10">
        <div class="col-12 col-xl-12 col-lg-12 col-md-12 table-responsive">
            <br />
            <h3>The students:</h3>
            <hr />
            <br />
            <table class="display" style="width:100%; position: relative" id="professorsTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Student.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Student.User.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Student.Grade)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TagsScore)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PersonalityScore)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SupervisorStyleScore)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompatibilityScore)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.User.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.Grade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TagsScore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PersonalityScore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SupervisorStyleScore)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompatibilityScore)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <br />
        </div>
    </div>
</div>