﻿@model BachelorsDegreeManagement.ApplicationLogic.ViewModels.QuizViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-center quiz-container">
    <div class="col-11 col-md-8 col-lg-8 col-xl-8 jumbotron">
        <h6 style="text-align: justify">
            Describe yourself as you generally are now, not as you wish to be in the future.
            Describe yourself as you honestly see yourself, in relation to other people you know of the same sex as you are, and roughly your same age.
            So that you can describe yourself in an honest manner, your responses will be kept in absolute confidence.
            Indicate for each statement whether it is:
        </h6>
        <ul>
            <li>1: Very Inaccurate</li>
            <li>2: Moderately Inaccurate</li>
            <li>3: Neither Accurate Nor Inaccurate</li>
            <li>4: Moderately Accurate</li>
            <li>5: Very Accurate as a description of you</li>
        </ul>
        <br />
        <hr />
        <br />
        <form asp-action="create">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <ol>
                        @for (int question_number = 0; question_number < 50; question_number++)
                        {
                            <li class="questions-item">
                                @Model.Questions[question_number].Content<br />
                                <div class="answers-item">
                                    <div class="custom-control custom-radio">
                                        @Html.RadioButtonFor(model => model.Answers[question_number], 1)
                                        Very inaccurate
                                    </div>
                                    <div class="custom-control custom-radio">
                                        @Html.RadioButtonFor(model => model.Answers[question_number], 2)
                                        Moderately inaccurate
                                    </div>
                                    <div class="custom-control custom-radio">
                                        @Html.RadioButtonFor(model => model.Answers[question_number], 3)
                                        Neutral
                                    </div>
                                    <div class="custom-control custom-radio">
                                        @Html.RadioButtonFor(model => model.Answers[question_number], 4)
                                        Moderately accurate
                                    </div>
                                    <div class="custom-control custom-radio">
                                        @Html.RadioButtonFor(model => model.Answers[question_number], 5)
                                        Very accurate
                                    </div>
                                </div>
                                <hr />
                            </li>
                        }
                        @Html.ValidationMessageFor(model => model.Answers,
                                        "", new { @class = "error" })
                    </ol>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit the test" class="btn btn-primary" id="submit-button-test" />
            </div>
        </form>
    </div>
</div>