﻿@model IEnumerable<BachelorsDegreeManagement.ApplicationLogic.DataModels.PersonalityTestResults>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_ChartPartial">
<div class="row justify-content-center">
    <div class="col-11 col-lg-10 col-xl-10 col-md-11 jumbotron">
        <div id="chart_div"></div>
    </div>
    <div class="col-11 col-lg-10 col-xl-10 col-md-11 jumbotron">
        <h5>Agreeableness:</h5>
        <p class="trait-description">
            Agreeableness refers to how people tend to treat relationships with others.<br />
            Those high in agreeableness can be described as <em>soft-hearted</em>, <em>trusting</em>, and <em>well-liked</em>.
            They are sensitive to the needs of others and are <strong>helpful and cooperative</strong>. People regard them as trustworthy and altruistic.
        </p>
        <hr />
        <h5>Surgency (Extraversion):</h5>
        <p class="trait-description">
            Extraversion reflects the tendency and intensity to which someone seeks interaction with their environment, particularly socially.
            The extroverts (with a high score for the Surgency trait), tend to be <em>sociable</em>, energized by social interaction, excitement-seeking, outgoing.
            On the other hand, the introverts (with a low score for the Surgency trait), tend to prefer solitude, to be <em>reflective</em>, reserved and to dislike being the center of attention.
        </p>
        <hr />
        <h5>Emotional (Neuroticism):</h5>
        <p class="trait-description">
            Those with a high score for the Neuroticism trait tend to be <em>anxious</em>, <em>self-consciousness (shy)</em>, to experience a lot of <strong>stress</strong>, dramatic mood shifts.
            The individuals with a low score for the Emotional trait are <em>calm</em>, <em>emotionally stable</em>, <em>confident</em> and <strong>rarely</strong> feel sad or depressed.
        </p>
        <hr />
        <h5>Conscientiousness:</h5>
        <p class="trait-description">
            Those who score high on conscientiousness can be described as organized, disciplined, detail-oriented, thoughtful, and careful. They also have good impulse control, which allows them to complete tasks and achieve goals.
            Those who score low on conscientiousness may struggle with impulse control, leading to difficulty in completing tasks and fulfilling goals.
        </p>
        <hr />
        <h5>Imagination (Openness for experience):</h5>
        <p class="trait-description">
            Those who score high on openness to experience are perceived as creative and artistic. They prefer variety and value independence. They are curious about their surroundings and enjoy traveling and learning new things.
            People who score low on openness to experience prefer routine. They are uncomfortable with change and trying new things so they prefer the familiar over the unknown. As they are practical people, they often find it difficult to think creatively or abstractly.
        </p>
        <hr />
    </div>
</div>