﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-10">
        <div>
            <h4>Change your account settings</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <partial name="_ManageNav" />
                </div>
                <div class="col-md-8">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
