﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-8 col-xl-8 col-lg-8 col-12">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" disabled />
            </div>
            @if (User.IsInRole("Professor") || User.IsInRole("Student"))
            {
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Student") || User.IsInRole("Professor"))
            {
                <hr />
                @if (User.IsInRole("Student"))
                {
                    <div class="form-group">
                        <label asp-for="Input.Complexity" class="control-label"></label>
                        <select asp-for="Input.Complexity" class="form-control" asp-items="Model.Input.Complexities">
                        </select>
                    </div>
                }

                <div class="form-group">
                    <label asp-for="Input.SupervisorStyle" class="control-label"></label>
                    <div class="input-group mb-3">
                        <select id="supervisor-style" asp-for="Input.SupervisorStyle" class="form-control" asp-items="Model.Input.SupervisorStyles">
                        </select>
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="supervisor-style">
                                <a href="/documents/info/supervisor_style.pdf" target="_blank">
                                    <i class="fas fa-info-circle"></i> More info
                                </a>
                            </label>
                        </div>
                    </div>
                </div>
            }

            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}