﻿
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<h1>Welcome back!</h1>*@

<div class="row justify-content-center">
    <div class="col-md-10 row justify-content-around jumbotron row justify-content-center">
        <div class="row justify-content-center col-12 col-md-4 col-lg-4 col-xl-4 border-right">
            <div class="container-title col-12 border-bottom">
                <h3 class="col-12">System information</h3>
            </div>
            <div class="container-content col-12 border-bottom">
                @if(ViewData["deadlines"] == null){
                <p>There is no deadline active.</p>

                }else{
                <p>There is an active deadline.</p>

                }
                <p>The number of projects that have been proposed by you: @ViewData["projects"].</p>
                <p>There are @ViewData["students"] students into the system.</p>
                <p>You have received @ViewData["options"] options.</p>
            </div>
            <div class="container-deadline col-12 border-bottom">
                <h4 id="deadline-title"></h4>
                <p id="deadline-description"></p>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-8 col-xl-8">
            <div class="calendar"></div>
        </div>
    </div>
</div>