﻿@model BachelorsDegreeManagement.ApplicationLogic.DataModels.Professors

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-11 col-md-5 col-xl-5 col-lg-5 jumbotron">
        <h4>See a professor's details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ProjectsNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ProjectsNumber)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.User.Email)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Department.Name)
            </dd>
        </dl>
    </div>
</div>

<div id="back-button">
    <a class="btn btn-outline-secondary" asp-controller="Professors" asp-action="Index"><i class="fas fa-chevron-left"></i> See list</a>
    <img src="~/images/svgs/single-eye-bean-outline.svg" alt="back-button-bean" id="back-button-bean" />
</div>