﻿@model BachelorsDegreeManagement.ApplicationLogic.ViewModels.ProfessorsIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="jumbotron row justify-content-center col-11 col-md-10 col-lg-10 col-xl-10">
        <div class="col-12 col-xl-10 col-lg-10 col-md-10">
            <h3>The professors:</h3>
            <br />
        </div>
        @if (User.IsInRole("Administrator"))
        {
            @await Html.PartialAsync("ProfessorsImportModal", Model.ImportViewModel)
            <div class="col-10 row justify-content-start">
                <p class="col-12 col-md-auto col-xl-auto col-lg-auto">
                    <a asp-action="Create" data-toggle="tooltip" data-placement="bottom" title="Add a new professor"><i class="fas fa-plus-circle"></i></a>
                </p>
                <p class="col-12 col-md-auto col-xl-auto col-lg-auto">
                    <a data-toggle="tooltip" href="#" data-placement="bottom" title="Import" id="professors-import-modal-trigger"><i class="fas fa-cloud-upload-alt"></i></a>
                </p>
                <p class="col-12 col-md-auto col-xl-auto col-lg-auto">
                    <a data-toggle="tooltip" href="#" data-placement="bottom" title="Export" id="export-supervisors"><i class="fas fa-cloud-download-alt"></i></a>
                </p>
            </div>
        }
        <div class="col-12 col-xl-12 col-lg-12 col-md-12 table-responsive">
            <table class="display compact" style="width:100%; position: relative" id="professorsTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Professors.First().FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Professors.First().LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Professors.First().ProjectsNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Professors.First().User.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Professors.First().User.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Professors.First().Department.Name)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Professors)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectsNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department.Name)
                            </td>
                            <td>
                                @if (item.UserId != null)
                                {

                                    <a asp-controller="UserTags" asp-action="Index" asp-route-id="@item.UserId"><i class="fas fa-tag"></i></a>

                                }
                                <a asp-controller="Professors" asp-action="Details" asp-route-id="@item.GDPRCode"><i class="fas fa-info"></i></a>

                                @if (User.IsInRole("Administrator"))
                                {
                                    <a asp-controller="Professors" asp-action="Edit" asp-route-id="@item.GDPRCode"><i class="fas fa-edit"></i></a>
                                    <a asp-controller="Professors" asp-action="Delete" asp-route-id="@item.GDPRCode"><i class="fas fa-trash"></i></a>

                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
        </div>
    </div>
</div>