﻿@model BachelorsDegreeManagement.ApplicationLogic.ViewModels.CreateProjectViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-11 col-md-5 col-xl-5 col-lg-5 jumbotron">
        <h4>Add a new project</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Complexity" class="control-label"></label>
                <select asp-for="Complexity" class="form-control" asp-items="ViewBag.Complexities">
                    <option selected>Choose the project complexity</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tags</label>
                <select class="form-control" id="tag-field" asp-items="ViewBag.Tags"></select>
            </div>
            <div class="form-group row justify-content-around">
                <a id="add-tag" onclick="add_tag()" data-toggle="Add a tag" data-placement="bottom"><i class="fas fa-plus-circle"></i></a>
                <a id="remove-tag" onclick="remove_tag()" data-toggle="Remove a tag" data-placement="bottom"><i class="fas fa-minus-circle"></i></a>
            </div>
            <div class="form-group">
                <textarea asp-for="Tags" readonly id="tag-textarea" style="width: 100%;"></textarea>
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="submit-button" />
            </div>
        </form>
    </div>
</div>

<div id="back-button">
    <a class="btn btn-outline-secondary" asp-controller="Projects" asp-action="Index"><i class="fas fa-chevron-left"></i> See list</a>
    <img src="~/images/svgs/single-eye-bean-outline.svg" alt="back-button-bean" id="back-button-bean" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
