﻿@model BachelorsDegreeManagement.ApplicationLogic.ViewModels.ProjectViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ string extra_class = "";}

@if (User.IsInRole("Student"))
{
    extra_class = "col-xl-6 col-lg-6 border-right";
}

<div class="row justify-content-center">
    <div class="col-11 col-md-8 col-xl-8 col-lg-8 jumbotron row justify-content-around">
        <h4 class="col-12">See a project's details</h4>
        <hr class="col-12" />
        <dl class="row justify-content-center @extra_class">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Project.Id)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Project.Id)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Project.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Project.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Project.Professor)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Project.Professor.FullName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Project.Complexity)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Project.Complexity)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Project.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Project.Description)
            </dd>
            <dt class="col-sm-4">
                Keywords
            </dt>
            <dd class="col-sm-8" style="color: #ff6a00;">
                @foreach (var item in Model.Project.ProjectTags)
                {
                    @item.Tag.Name
                    <br />
                }
            </dd>
        </dl>
        @if (User.IsInRole("Student"))
        {
            <dl class="row justify-content-center col-12 col-md-12 col-xl-6 col-lg-6 border-left">

                <dt class="col-sm-8">
                    @Html.DisplayNameFor(model => model.ComplexityCompatibility)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.ComplexityCompatibility)
                </dd>
                <dt class="col-sm-8">
                    @Html.DisplayNameFor(model => model.DomainCompatibility)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.DomainCompatibility)
                </dd>
                <dt class="col-sm-8">
                    @Html.DisplayNameFor(model => model.PersonalityCompatibility)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.PersonalityCompatibility)
                </dd>
                <dt class="col-sm-8">
                    @Html.DisplayNameFor(model => model.SupervisorStyleCompatibility)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.SupervisorStyleCompatibility)
                </dd>
                <dt class="col-sm-8">
                    @Html.DisplayNameFor(model => model.OverallCompatibility)
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.OverallCompatibility)
                </dd>
            </dl>
        }

    </div>
</div>

<div id="back-button">
    <a class="btn btn-outline-secondary" asp-controller="Projects" asp-action="Index"><i class="fas fa-chevron-left"></i> See list</a>
    <img src="~/images/svgs/single-eye-bean-outline.svg" alt="back-button-bean" id="back-button-bean" />
</div>