﻿@model IEnumerable<BachelorsDegreeManagement.ApplicationLogic.ViewModels.ProjectsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="jumbotron row justify-content-center col-11 col-md-10 col-lg-10 col-xl-10">
        @if (User.IsInRole("Professor"))
        {
            <div class="col-12 col-md-10 col-lg-10 col-xl-10">
                <p>
                    <a asp-action="Create" data-toggle="tooltip" data-placement="bottom" title="Add a new project"><i class="fas fa-plus-circle"></i></a>
                </p>
            </div>
        }
        <div class="col-12 col-xl-12 col-lg-12 col-md-12 table-responsive">
            <h3>The list of projects</h3>
            <table class="display compact" style="width: 100%; position: relative" id="projectsTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Project.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Project.Professor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Project.Tags)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Project.Complexity)
                        </th>
                        @if (User.IsInRole("Student"))
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.CompatibilityScore)
                            </th>
                        }

                        <th>
                            Deadline date
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Project.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Project.Professor.FullName)
                            </td>
                            <td class="description-text">
                                @Html.DisplayFor(modelItem => item.Project.Tags)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Project.Complexity)
                            </td>
                            @if (User.IsInRole("Student"))
                            {
                                <td class="@item.Class">
                                    @Html.DisplayFor(modelItem => item.CompatibilityScore)
                                </td>
                            }

                            <td>
                                @Html.DisplayFor(modelItem => item.Project.Deadline.Date)
                            </td>
                            <td>

                                <a asp-action="Details" asp-route-id="@item.Project.Id"><i class="fas fa-info"></i></a>
                                @if (User.IsInRole("Professor"))
                                {
                                    <a asp-action="Delete" asp-route-id="@item.Project.Id"><i class="far fa-trash-alt"></i></a>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>