﻿@model BachelorsDegreeManagement.ApplicationLogic.ViewModels.CreateDepartmentViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-11 col-md-5 col-xl-5 col-lg-5 jumbotron">
        <h4>Create a new department</h4>
        <hr />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="row justify-content-around">
                <div class="form-group col-12">
                    <label class="control-label">Specialization's name</label>
                    <input type="text" id="specialization-field" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-12">
                    <label class="control-label">Number of groups</label>
                    <input type="number" id="groups-field" min="1" max="4" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <a id="add-specialization" data-toggle="Add a specialization" data-placement="bottom"><i class="fas fa-plus-circle"></i></a>
                </div>
                <div class="form-group col-6">
                    <a id="remove-specialization" data-toggle="Remove a tag" data-placement="bottom"><i class="fas fa-minus-circle"></i></a>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Specializations" class="control-label"></label>
                <textarea asp-for="Specializations" id="specializations-field" readonly class="form-control"></textarea>
                <span asp-validation-for="Specializations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create the department" id="submit-button" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div id="back-button">
    <a class="btn btn-outline-secondary" asp-controller="Departments" asp-action="Index"><i class="fas fa-chevron-left"></i> See list</a>
    <img src="~/images/svgs/single-eye-bean-outline.svg" alt="back-button-bean" id="back-button-bean" />
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
