﻿@model IEnumerable<BachelorsDegreeManagement.ApplicationLogic.ViewModels.DepartmentsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="jumbotron row justify-content-center col-11 col-md-10 col-lg-10 col-xl-10">
        @if (User.IsInRole("Administrator"))
        {
            <div class="col-12 col-md-10 col-lg-10 col-xl-10">
                <p>
                    <a asp-action="Create" data-toggle="tooltip" data-placement="bottom" title="Add a new department"><i class="fas fa-plus-circle"></i></a>
                </p>
            </div>
        }

        <div class="col-12 col-xl-10 col-lg-10 col-md-10 table-responsive">
            <h3>The departments:</h3>
            <table class="table-striped" id="departmentsTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NoGroups)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NoProfessors)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NoStudents)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoGroups)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoProfessors)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoStudents)
                        </td>
                        <td class="row justify-content-lg-start">
                            @if (User.IsInRole("Administrator"))
                            {
                                <a class="col-auto" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>