﻿@model BachelorsDegreeManagement.ApplicationLogic.DataModels.UserTags

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-5 col-11 col-lg-5 col-xl-5 jumbotron">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TagId" class="control-label"></label>
                <select asp-for="TagId" class="form-control" asp-items="ViewBag.TagId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" id="submit-button" class="btn btn-primary" />
            </div>
        </form>
        @if (User.IsInRole("Professor"))
        {
            <a asp-controller="Tags" asp-action="Create">Create a new domain keyword</a>
        }
    </div>
</div>

<div id="back-button">
    <a class="btn btn-outline-secondary" asp-controller="UserTags" asp-action="Index"><i class="fas fa-chevron-left"></i> See list</a>
    <img src="~/images/svgs/single-eye-bean-outline.svg" alt="back-button-bean" id="back-button-bean" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
