﻿@model IEnumerable<BachelorsDegreeManagement.ApplicationLogic.ViewModels.TagsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-12 col-xl-11 col-lg-10 col-md-10 jumbotron">
        <h3>See the domain keywords</h3>
        <hr />
        <br />
        <div class="row justify-content-center">
            @if (User.IsInRole("Professor") || User.IsInRole("Student"))
            {
                <div class="col-12 col-md-10 col-lg-10 col-xl-10">
                    <p>
                        <a asp-action="Create" data-toggle="tooltip" data-placement="bottom" title="Add a new keyword"><i class="fas fa-plus-circle"></i></a>
                    </p>
                </div>
            }
            <div class="col-10 col-xl-12 col-lg-12 col-md-12 row justify-content-center table-responsive">
                <table class="display compact" style="width:100%; position: relative" id="userTagsTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NoProfessors)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NoProjects)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NoStudents)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoProfessors)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoProjects)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoStudents)
                            </td>
                            <td>
                                @if (User.IsInRole("Professor") || User.IsInRole("Student"))
                                {
                                    <a asp-controller="Tags" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>