﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/svg" href="~/images/svgs/student_hat.svg" />
    <title>@ViewData["Title"] - SPA</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    @if (User.IsInRole("Professor") || User.IsInRole("Student") || User.IsInRole("Administrator"))
    {
        <link rel="stylesheet" href="~/css/logged_user_styling.css" type="text/css" />
    }
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">

    <!-- jQuery UI -->
    <link rel="stylesheet" href="~/jqueryui/jquery-ui-1.12.1/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="~/jqueryui/jquery-ui-1.12.1/jquery-ui.structure.css" type="text/css" />
    <link rel="stylesheet" href="~/jqueryui/jquery-ui-1.12.1/jquery-ui.theme.css" type="text/css" />
    <!-- end jQuery UI -->

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />

    @if (User.IsInRole("Administrator") || User.IsInRole("Professor") || User.IsInRole("Student"))
    {
        <!-- FullCalendar -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" integrity="sha512-KXkS7cFeWpYwcoXxyfOumLyRGXMp7BTMTjwrgjMg0+hls4thG2JGzRgQtRfnAuKTn2KWTDZX4UdPg+xTs8k80Q==" crossorigin="anonymous" />
    }
    <!-- Icons-->
    <script src="https://kit.fontawesome.com/a0a736ffea.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="text-center" id="loader">
            <div class="spinner-border text-success" role="status">
                <span class="visually-hidden"></span>
            </div>
        </div>
        <div id="modal_container">

        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow mb-3 sticky-top justify-content-between" style="position: fixed;">
            <img src="~/images/svgs/student_hat.svg" width="35" height="35" class="mr-2">
            <a class="navbar-brand" style=" cursor: pointer; color: white;" onmouseover="changeColor('#35b6f2')" onmouseout="changeColor('white')" data-toggle="tooltip"
               data-placement="bottom" title="Click to see the menu">
                SPA
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                @if (!(User.IsInRole("Professor") || User.IsInRole("Student") || User.IsInRole("Administrator")))
                {
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>

                }
                else
                {
                    <ul class="navbar-nav flex-grow-0">
                        <li class="nav-item" id="user-photo">
                            <img src="~/images/user.png" width="20" height="20" id="user_image_field" />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index">Edit account</a>
                        </li>
                        @if (User.IsInRole("Student") || User.IsInRole("Professor"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="PersonalityTestResults" asp-action="Index" data-toggle="tooltip" data-placement="top" title="See the test result">
                                    Personality test result
                                </a>
                            </li>

                        }
                        <li class="nav-item">
                            <form class="form-inline" style="width: 100%; margin-bottom: 5px;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="nav-link btn btn-link text-light">
                                    Log out
                                </button>
                            </form>
                        </li>
                    </ul>
                }
            </div>
        </nav>

    </header>
    <div class="row justify-content-lg-around body-container" id="body-content">
        <partial name="_SidebarPartial" />
        <div id="content" class="col-md-@(User.IsInRole("Administrator") || User.IsInRole("Professor") || User.IsInRole("Student") ? 9 : 12)">
            <partial name="_MessagesPartial" />
            <main role="main">
                @RenderBody()
            </main>
            @if (User.IsInRole("Administrator") || User.IsInRole("Professor") || User.IsInRole("Student"))
            {
                <div class="open_sidebar_button">
                    <button type="button" class="btn btn-lg-primary" onclick="openSidebarMenu()" id="sidebar-button"><strong><i id="icon" class="fas fa-arrow-right"></i></strong></button>
                </div>
                <div class="close_sidebar_button">
                    <button type="button" class="btn btn-lg-primary" onclick="closeSidebarMenu()" id="sidebar-button"><strong><i id="icon" class="fas fa-arrow-left"></i></strong></button>
                </div>
            }

        </div>
        @{ string footer_extra_class = "not-logged";}
        @if (User.IsInRole("Administrator") || User.IsInRole("Professor") || User.IsInRole("Student"))
        {
            footer_extra_class = "footer-logged";
        }
        <footer class="border-top footer text-muted @footer_extra_class">
            <div class="row justify-content-around">

                @if (!(User.IsInRole("Administrator") || User.IsInRole("Student") || User.IsInRole("Professor")))
                {
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 border-right section-list-container">
                        <ul id="sections-list">
                            <li>
                                <a asp-controller="Home" asp-action="Index" style="color:white;" asp-fragment="personality-test">Personality test</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Index" style="color:white;" asp-fragment="perfect-match">Find the perfect match</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6 section-list-container">
                        <ul id="sections-list">
                            <li>
                                <a asp-controller="Home" asp-action="Index" style="color:white;" asp-fragment="notification">About the notifications</a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="Index" style="color:white;" asp-fragment="allocation-process">The allocation process</a>
                            </li>
                        </ul>
                    </div>
                    <hr/>
                    <div class="col-12">
                        <a asp-controller="Home" asp-action="Credits"><i class="fas fa-balance-scale"> Credits</i></a>
                    </div>
                }

                <div class="col-12" id="home-link">
                    &copy; 2021 - SPA
                </div>
            </div>
        </footer>
    </div>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- jQuery-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <!-- jQuery dataTables-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/dataTables.bootstrap.min.js"></script>
    <script src="~/js/datatable.js" type="text/javascript"></script>

    <!-- jQuery UI-->
    <script src="~/jqueryui/jquery-ui-1.12.1/jquery-ui.js" type="text/javascript"></script>
    <script src="/js/jquery_widgets.js" type="text/javascript"></script>

    @if (User.IsInRole("Administrator") || User.IsInRole("Professor") || User.IsInRole("Student"))
    {
        <!-- FullCalendar -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
                integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"
                integrity="sha512-o0rWIsZigOfRAgBxl4puyd0t6YKzeAw9em/29Ag7lhCQfaaua/mDwnpE2PVzwqJ08N7/wqrgdjc2E0mwdSY2Tg=="
                crossorigin="anonymous"></script>
    }

    <!-- Custom js files -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/js/ajax.js" type="text/javascript"></script>
    <script src="~/js/jquery_ui_dialog_widget.js" type="text/javascript"></script>
    <script src="~/js/import.js" type="text/javascript"></script>
    <script src="~/js/allocation.js" type="text/javascript"></script>
    <script src="~/js/system_variables.js" type="text/javascript"></script>
    <script src="~/js/departments.js" type="text/javascript"></script>

    <!-- JQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    @RenderSection("Scripts", required: false)
</body>
</html>