﻿@if (ViewData["error"] != null)
{
    <div class="alert alert-dismissible alert-danger message-box">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh, snap...</strong> @ViewData["error"]
    </div>
}
@if (ViewData["success"] != null)
{
    <div class="alert alert-dismissible alert-success message-box">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Hooray!</strong> @ViewData["success"]
    </div>
}
@if (ViewData["info"] != null)
{
    <div class="alert alert-dismissible alert-info message-box">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>A little note for yourself:</strong> @ViewData["info"].
    </div>
}