﻿@if (User.IsInRole("Administrator"))
{
    <div class="col-md-3 col-3 col-xl-3 col-lg-3">
        <div class="w3-sidebar w3-bar-block w3-border-right" id="mySidebar">
            <a asp-controller="Home" asp-action="Dashboard" class="w3-bar-item w3-button" id="dashboard-option">
                <img src="~/images/home-run.svg" style="height: 20px; width: 20px;" />
                Dashboard
            </a>
            <hr />
            <a asp-controller="Professors" asp-action="Index" class="w3-bar-item w3-button">
                <img src="~/images/teacher.svg" style="height: 20px; width: 20px;" />
                Professors
            </a>
            <a asp-controller="Students" asp-action="Index" class="w3-bar-item w3-button">
                <img src="~/images/student.svg" style="height: 20px; width: 20px;" />
                Students
            </a>
            <a asp-controller="Departments" asp-action="Index" class="w3-bar-item w3-button">
                <img src="~/images/svgs/department.svg" style="height: 20px; width: 20px;" />
                Departments
            </a>
            <a asp-controller="Deadlines" asp-action="Index" class="w3-bar-item w3-button">
                <img src="~/images/appointment.svg" style="height: 20px; width: 20px;" />
                Deadlines
            </a>
            <a asp-controller="Options" asp-action="Index" class="w3-bar-item w3-button">
                <img src="~/images/list.svg" style="height: 20px; width: 20px;" />
                Options
            </a>
            <a asp-controller="Options" asp-action="Allocation" class="w3-bar-item w3-button">
                <img src="~/images/cogwheel.svg" style="height: 20px; width: 20px;" />
                Allocation process
            </a>
            <a asp-controller="SystemVariables" asp-action="Edit" class="w3-bar-item w3-button">
                <img src="~/images/settings.svg" style="height: 20px; width: 20px;" />
                Compatibility settings
            </a>
        </div>
    </div>
}
@if (User.IsInRole("Professor"))
{
<div class="col-md-3 col-3 col-xl-3 col-lg-3">
    <div class="w3-sidebar w3-bar-block w3-border-right" id="mySidebar">
        <a asp-controller="Professors" asp-action="Dashboard" class="w3-bar-item w3-button" id="dashboard-option">
            <img src="~/images/home-run.svg" style="height: 20px; width: 20px;" />
            Dashboard
        </a>
        <hr />
        <a asp-controller="PersonalityTestResults" asp-action="Create" class="w3-bar-item w3-button">
            <img src="~/images/register.svg" style="height: 20px; width: 20px;" />
            Personality test
        </a>
        <a asp-controller="UserTags" asp-action="Index" class="w3-bar-item w3-button">
            <img src="~/images/seo-tag.svg" style="height: 20px; width: 20px;" />
            Keywords
        </a>
        <a asp-controller="Deadlines" asp-action="Index" class="w3-bar-item w3-button">
            <img src="~/images/appointment.svg" style="height: 20px; width: 20px;" />
            Deadlines
        </a>
        <a asp-controller="Projects" asp-action="Index" class="w3-bar-item w3-button">
            <img src="~/images/project.svg" style="height: 20px; width: 20px;" />
            Projects
        </a>
        <a asp-controller="Students" asp-action="Suggestions" class="w3-bar-item w3-button">
            <img src="~/images/student.svg" style="height: 20px; width: 20px;" />
            Suggestions
        </a>
        <a asp-controller="Options" asp-action="Index" class="w3-bar-item w3-button">
            <img src="~/images/list.svg" style="height: 20px; width: 20px;" />
            Options
        </a>
        <a asp-controller="Options" asp-action="Sort" class="w3-bar-item w3-button">
            <img src="~/images/project.svg" style="height: 20px; width: 20px;" />
            Sort options
        </a>
    </div>
</div>
}
@if (User.IsInRole("Student"))
{
<div class="col-md-3 col-3 col-xl-3 col-lg-3">
    <div class="w3-sidebar w3-bar-block w3-border-right" id="mySidebar">
        <a asp-controller="Students" asp-action="Dashboard" class="w3-bar-item w3-button" id="dashboard-option">
            <img src="~/images/home-run.svg" style="height: 20px; width: 20px;" />
            Dashboard
        </a>
        <hr />
        <a asp-controller="PersonalityTestResults" asp-action="Create" class="w3-bar-item w3-button">
            <img src="~/images/register.svg" style="height: 20px; width: 20px;" />
            Personality test
        </a>
        <a asp-controller="UserTags" asp-action="Index" class="w3-bar-item w3-button">
            <img src="~/images/seo-tag.svg" style="height: 20px; width: 20px;" />
            Keywords
        </a>
        <a asp-controller="Deadlines" asp-action="Index" class="w3-bar-item w3-button">
            <img src="~/images/appointment.svg" style="height: 20px; width: 20px;" />
            Deadlines
        </a>
        <a asp-controller="Professors" asp-action="Suggestions" class="w3-bar-item w3-button">
            <img src="~/images/teacher.svg" style="height: 20px; width: 20px;" />
            Suggestions
        </a>
        <a asp-controller="Projects" asp-action="Index" class="w3-bar-item w3-button">
            <img src="~/images/project.svg" style="height: 20px; width: 20px;" />
            Projects
        </a>
        <a asp-controller="Options" asp-action="Index" class="w3-bar-item w3-button">
            <img src="~/images/list.svg" style="height: 20px; width: 20px;" />
            Options
        </a>
    </div>
</div>
}
