﻿@model BachelorsDegreeManagement.ApplicationLogic.ViewModels.ProfessorsImportViewModel

<div class="col-12" id="professors-import-dialog" style="display: none;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-10 col-xl-10">
            <h3 class="page-title">Import professors</h3>
            <hr />
            <form asp-controller="Professors" asp-action="Import" enctype="multipart/form-data" class="row">
                <div class="form-group col-12 col-md-6 col-lg-6 col-xl-6">
                    <label asp-for="Document">Upload the file</label>
                    <input asp-for="Document" class="form-control-file" type="file" style="width:100%;" />
                </div>
                <hr />
                <div class="form-group button-modal col-12">
                    <input type="submit" value="Start the import process" id="import-submit-button" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>