﻿@model BachelorsDegreeManagement.ApplicationLogic.DataModels.Deadlines

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-11 col-md-8 col-xl-8 col-lg-8 jumbotron">
        <h4>Deadline's details</h4>
        <hr />
        <dl class="row justify-content-around">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-8">
                @Model.Date.ToString("dd/MM/yyyy hh:mm tt")
            </dd>
        </dl>
    </div>
</div>
<div id="back-button">
    <a class="btn btn-outline-secondary" asp-controller="Deadlines" asp-action="Index"><i class="fas fa-chevron-left"></i> See list</a>
    <img src="~/images/svgs/single-eye-bean-outline.svg" alt="back-button-bean" id="back-button-bean" />
</div>