﻿@model IEnumerable<BachelorsDegreeManagement.ApplicationLogic.DataModels.Deadlines>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="jumbotron row justify-content-center col-10 col-md-10 col-lg-10 col-xl-10">
        @if (User.IsInRole("Administrator"))
        {
            <div class="col-12 col-md-10 col-lg-10 col-xl-10">
                <p>
                    <a asp-action="Create" data-toggle="tooltip" data-placement="bottom" title="Add a new deadline"><i class="fas fa-plus-circle"></i></a>
                </p>
            </div>
        }
        <div class="col-12 col-xl-12 col-lg-12 col-md-12 table-responsive">
            <h3>The deadlines:</h3>
            <table class="display compact" style="width: 100%; position: relative" id="deadlinesTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @item.Date.ToString("dd/MM/yyyy hh:mm tt")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                                @if (User.IsInRole("Administrator"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>