﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="form-container">
    <div class="row justify-content-center">
        <div class="col-11 col-md-10 col-xl-8 col-lg-8 row justify-content-around jumbotron">
            <div class="col-12 col-md-5 col-xl-4 col-lg-4">
                <section>
                    <h3>Welcome back!</h3>
                    <form id="account" method="post">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="submit-button">Log in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>

                        </div>
                    </form>
                </section>
            </div>
            <div class="order-first order-md-last order-lg-last order-xl-last col-12 col-md-5 col-xl-4 col-lg-4">
                <img src="~/images/svgs/login_beans.svg" id="login-image"/>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
