﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" href="~/css/register_confirmation.css" type="text/css" />
<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-8 col-xl-8 jumbotron">
        <svg width="890" height="460" viewBox="0 0 890 460" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="undraw_welcome_cats_thqn 1" clip-path="url(#clip0)">
                <path id="floor" d="M444.538 410.603C690.049 410.603 889.076 405.036 889.076 398.168C889.076 391.301 690.049 385.734 444.538 385.734C199.026 385.734 0 391.301 0 398.168C0 405.036 199.026 410.603 444.538 410.603Z" fill="#EE6F2F" />
                <path id="c-letter" d="M481.05 263.451V248.788H407.736V249.705V263.451V381.67V396.333H422.399H481.05V381.67H422.399V263.451H481.05Z" fill="#3F3D56" />
                <path id="o-letter" d="M516.791 248.788V396.333H590.105V248.788H516.791ZM575.442 381.67H531.453V263.451H575.442V381.67Z" fill="#51A482" />
                <path id="l-letter" d="M313.344 381.67V249.705H298.681V381.67V396.333H313.344H371.995V381.67H313.344Z" fill="#51A482" />
                <path id="first-e-letter" d="M265.69 263.451V248.788H192.376V249.705V263.451V314.771V329.434V381.67V396.333H207.039H265.69V381.67H207.039V329.434H265.69V314.771H207.039V263.451H265.69Z" fill="#3F3D56" />
                <path id="last-e-letter" d="M839.372 263.451V248.788H766.058V249.705V263.451V314.771V329.434V381.67V396.333H780.721H839.372V381.67H780.721V329.434H839.372V314.771H780.721V263.451H839.372Z" fill="#51A482" />
                <path id="w-letter" d="M142.889 249.705V370.89L104.228 332.23L104.14 332.319L104.058 332.237L64.535 371.76V249.247H49.8719V395.875H64.535V392.496L104.147 352.884L142.889 391.627V396.333H157.552V249.705H142.889Z" fill="#3F3D56" />
                <path id="m-letter" d="M717.488 249.705V253.083L677.876 292.695L639.133 253.953V249.247H624.47V395.875H639.133V274.689L677.794 313.35L677.883 313.261L677.964 313.342L717.488 273.819V396.333H732.15V249.705H717.488Z" fill="#3F3D56" />
                <g id="bubbles">
                    <path id="Vector" d="M335.076 159.38C340.046 159.38 344.076 155.35 344.076 150.38C344.076 145.409 340.046 141.38 335.076 141.38C330.105 141.38 326.076 145.409 326.076 150.38C326.076 155.35 330.105 159.38 335.076 159.38Z" fill="#51A482" />
                    <path id="Vector_2" d="M113.076 259.38C118.046 259.38 122.076 255.35 122.076 250.38C122.076 245.409 118.046 241.38 113.076 241.38C108.105 241.38 104.076 245.409 104.076 250.38C104.076 255.35 108.105 259.38 113.076 259.38Z" fill="#51A482" />
                    <path id="Vector_3" d="M291.076 459.38C296.046 459.38 300.076 455.35 300.076 450.38C300.076 445.409 296.046 441.38 291.076 441.38C286.105 441.38 282.076 445.409 282.076 450.38C282.076 455.35 286.105 459.38 291.076 459.38Z" fill="#51A482" />
                    <path id="Vector_4" d="M517.076 186.38C522.046 186.38 526.076 182.35 526.076 177.38C526.076 172.409 522.046 168.38 517.076 168.38C512.105 168.38 508.076 172.409 508.076 177.38C508.076 182.35 512.105 186.38 517.076 186.38Z" fill="#51A482" />
                    <path id="Vector_5" d="M782.076 451.38C787.046 451.38 791.076 447.35 791.076 442.38C791.076 437.409 787.046 433.38 782.076 433.38C777.105 433.38 773.076 437.409 773.076 442.38C773.076 447.35 777.105 451.38 782.076 451.38Z" fill="#51A482" />
                    <path id="Vector_6" d="M791.076 215.38C796.046 215.38 800.076 211.35 800.076 206.38C800.076 201.409 796.046 197.38 791.076 197.38C786.105 197.38 782.076 201.409 782.076 206.38C782.076 211.35 786.105 215.38 791.076 215.38Z" fill="#51A482" />
                    <path id="Vector_7" d="M677.076 377.38C682.046 377.38 686.076 373.35 686.076 368.38C686.076 363.409 682.046 359.38 677.076 359.38C672.105 359.38 668.076 363.409 668.076 368.38C668.076 373.35 672.105 377.38 677.076 377.38Z" fill="#51A482" />
                </g>
                <g id="bean">
                    <path id="Vector_8" d="M508.492 216.523C511.355 214.126 507.486 204.791 499.852 195.673C492.217 186.554 483.707 181.105 480.845 183.502C477.982 185.899 481.851 195.234 489.485 204.352C497.12 213.471 505.63 218.92 508.492 216.523Z" fill="#2F2E41" />
                    <path id="Vector_9" d="M489.719 206.154C497.24 183.589 485.045 159.199 462.48 151.677C439.916 144.156 415.526 156.351 408.004 178.915C400.482 201.48 412.677 225.87 435.242 233.392C457.807 240.913 482.197 228.718 489.719 206.154Z" fill="#2F2E41" />
                    <path id="Vector_10" d="M467.09 226.334H454.006V249.776H467.09V226.334Z" fill="#2F2E41" />
                    <path id="Vector_11" d="M440.923 226.334H427.839V249.776H440.923V226.334Z" fill="#2F2E41" />
                    <path id="Vector_12" d="M456.187 254.137C462.209 254.137 467.09 252.307 467.09 250.048C467.09 247.79 462.209 245.96 456.187 245.96C450.165 245.96 445.284 247.79 445.284 250.048C445.284 252.307 450.165 254.137 456.187 254.137Z" fill="#2F2E41" />
                    <path id="Vector_13" d="M430.019 253.592C436.041 253.592 440.923 251.761 440.923 249.503C440.923 247.245 436.041 245.415 430.019 245.415C423.998 245.415 419.116 247.245 419.116 249.503C419.116 251.761 423.998 253.592 430.019 253.592Z" fill="#2F2E41" />
                    <path id="Vector_14" d="M435.338 138.398C439.184 122.911 456.159 113.797 473.253 118.041C490.347 122.286 501.087 138.282 497.242 153.769C493.396 169.256 480.638 169.306 463.544 165.061C446.45 160.816 431.493 153.885 435.338 138.398Z" fill="#CCCCCC" />
                    <path id="right-hand" d="M419.809 181.779C421.409 178.405 413.995 171.539 403.25 166.443C392.505 161.347 382.497 159.95 380.897 163.323C379.297 166.696 386.711 173.562 397.456 178.659C408.202 183.755 418.21 185.152 419.809 181.779Z" fill="#2F2E41" />
                    <path id="Vector_16" d="M442.423 197.806C450.353 197.806 456.781 191.377 456.781 183.447C456.781 175.517 450.353 169.088 442.423 169.088C434.493 169.088 428.064 175.517 428.064 183.447C428.064 191.377 434.493 197.806 442.423 197.806Z" fill="white" />
                    <path id="Vector_17" d="M436.521 183.086C439.165 183.086 441.308 180.943 441.308 178.3C441.308 175.657 439.165 173.514 436.521 173.514C433.878 173.514 431.735 175.657 431.735 178.3C431.735 180.943 433.878 183.086 436.521 183.086Z" fill="#3F3D56" />
                    <path id="Vector_18" d="M451.43 213.362C451.883 215.859 451.325 218.434 449.881 220.52C448.436 222.606 446.222 224.033 443.726 224.487C441.229 224.942 438.654 224.386 436.567 222.943C434.48 221.5 433.051 219.287 432.595 216.791L432.591 216.773C431.65 211.57 435.672 209.73 440.874 208.788C446.076 207.846 450.488 208.16 451.43 213.362Z" fill="white" />
                </g>
            </g>
            <defs>
                <clipPath id="clip0">
                    <rect width="889.076" height="459.38" fill="white" />
                </clipPath>
            </defs>
        </svg>

    </div>
</div>
