﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-8 col-xl-8 jumbotron">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="row justify-content-start">
                <h3 class="col-12">Create a new account.</h3>
                <hr class="col-10"/>
                <div asp-validation-summary="All" class="text-danger col-12"></div>
                <div class="form-group col-12 col-md-6 col-lg-6 col-xl-6">
                    <label asp-for="Input.Role" class="control-label">Role</label>
                    <select asp-for="Input.Role" class="form-control">
                        <option selected="selected">
                            Professor
                        </option>
                        <option>
                            Student
                        </option>
                    </select>
                </div>
                <div class="form-group col-12 col-md-6 col-lg-6 col-xl-6">
                    <label asp-for="Input.GDPRCode"></label>
                    <input asp-for="Input.GDPRCode" class="form-control" />
                    <span asp-validation-for="Input.GDPRCode" type="text" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6 col-lg-6 col-xl-6">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control" />
                    <span asp-validation-for="Input.Username" type="text" class="text-danger"></span>
                </div>

                <div class="form-group col-12 col-md-6 col-lg-6 col-xl-6">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" type="email"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6 col-lg-6 col-xl-6">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" type="tel"/>
                    <span asp-validation-for="Input.PhoneNumber" type="text" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6 col-lg-6 col-xl-6">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6 col-lg-6 col-xl-6">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" id="submit-button">Register</button>
                </div>
            </form>
        </div>
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
