﻿#plant-left, #plant-right {
    animation-name: plants;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    position: relative;
    transform-box: fill-box;
    transform-origin: bottom;
}

#balls{
    animation-name: fly;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: relative;
    transform-box: fill-box;
    transform-origin: center;
} 

@keyframes plants {
    from {
        transform: rotateZ(-5deg);
        
    }

    to {
        transform: rotateZ(5deg);
    }
}

@keyframes fly{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}