﻿#leaves{
    animation-name: move;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-box: fill-box;
    transform-origin: bottom;
    position: relative;
}
@keyframes move{
    from{
        transform: rotateZ(-7deg);
    }
    to{
        transform: rotateZ(7deg);
    }
}