﻿#plant, #left-hand{
    animation-name: plant;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    position: relative;
    transform-box: fill-box;
    transform-origin: bottom;
}
#right-hand {
    animation-name: plant;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    position: relative;
    transform-box: fill-box;
    transform-origin: bottom;
}

#first-wheel, #third-wheel {
    animation-name: wheel;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: relative;
    animation-timing-function: linear;
    transform-box: fill-box;
    transform-origin: center;
}
#second-wheel{
    animation-name: wheel;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: linear;
    position: relative;
    transform-box: fill-box;
    transform-origin: center;
}

#happy-bean {
    animation-name: jump;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    position: relative;
    transform-box: fill-box;
    transform-origin: center;
}

@keyframes plant {
    from {
        transform: rotateZ(-5deg);
    }

    to {
        transform: rotateZ(5deg);
    }
}

@keyframes wheel {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes jump{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(20px);
    }
}
