﻿#bubbles {
    animation-name: fly;
    animation-direction: normal;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    transform-origin: center;
    transform-box: fill-box;
}

#right-hand {
    animation-name: move;
    animation-direction: alternate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: relative;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes fly{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes move{
    from{
        transform: rotateZ(-15deg);
    }
    to {
        transform: rotateZ(15deg);
    }
}

svg{
    width: 100%;
}