﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#loader {
    position: fixed;
    z-index: 999999;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

    #loader div {
        height: 50px;
        width: 50px;
        margin-top: 20%;
    }

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    /*color: #fff;
    background-color: #EE6F2F !important;
    border-color: #9EC1A3;*/
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow-x: hidden;
    background-color: #E5E5E5;
}

.footer {
    width: 100%;
    white-space: nowrap;
    /*line-height: 60px;*/ /* Vertically center the text there */
    text-align: center;
    position: relative;
    bottom: 0;
    background-color: #2F2E41;
}

.footer-logged{
    height: 170px;
}

#sections-list {
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30%;
}

@media screen and (min-width: 719px) {
    #sections-list {
        margin-top: 2rem;
    }
}

#sections-list a {
    opacity: 0.6;
    font-size: small;
}

.section-list-container {
    margin-top: 2rem;
}

#logo-footer {
    width: 40%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#home-link {
    padding-bottom: 30px;
    padding-top: 30px;
}

.navbar {
    background-color: #2F2E41;
    width: 100%;
    font-size: larger;
    box-shadow: none;
}

.body-container {
    margin-top: 50px;
}

h1, h3, h4 {
    text-align: center;
    color: #ee6f2f;
}

p {
    text-align: center;
    display: none;
}

.form-container {
    margin-top: 5rem;
}

#submit-button {
    width: 100%;
}

#sidebar-button {
    width: 100%;
    background-color: #CCCCCC;
}

#submit-button-test {
    width: 40%;
    margin-left: 30%;
    color: white;
}

#empty-image {
    width: 50%;
    margin-left: 25%;
}

#options-header {
    color: #ee6f2f;
    font-weight: 400;
}

h2 {
    text-align: justify;
}

.item {
    margin-left: 15px;
    margin-right: 15px;
    height: 300px;
}

    .item img {
        height: 200px;
    }

.message-box {
    width: 80%;
    margin-top: 100px;
    margin-left: 10%;
    height: 100px;
}


input[type='radio'] {
    transform: scale(1);
    color: #8A91B4;
}

.questions-item {
    font-size: large;
}

.answers-item div {
    font-size: medium;
}

li {
    font-size: smaller;
}

.image-container {
    margin-top: 50px;
    position: fixed;
    width: 100%;
    height: 100%;
}

#mySidebar {
    background-color: white;
    opacity: 0.8;
    width: 250px;
    margin-left: 0px;
    z-index: 2;
}

main {
    margin-top: 3rem;
    margin-bottom: 200px;
}

#project-field, #project-label {
    display: none;
}

#professorsTable_wrapper .row {
    width: 100%;
}

#studentsTable_wrapper .row {
    width: 100%;
}

#tagsTable_wrapper .row {
    width: 100%;
}

#userTagsTable_wrapper .row {
    width: 100%;
}

#optionsTable_wrapper .row {
    width: 100%;
}

#projectsTable_wrapper .row {
    width: 100%;
}

#customOptionsTable_wrapper .row {
    width: 100%;
}

#deadlinesTable_wrapper .row {
    width: 100%;
}

#departmentsTable_wrapper .row {
    width: 100%;
}

#user-menu {
    margin-right: 70px;
}

.navbar-brand:hover {
    color: dodgerblue;
}

#home-page-main-photo {
    width: 100%;
    height: auto;
    opacity: 0.6;
    margin-bottom: 100px;
}

p {
    display: block;
    text-align: justify;
}

.alert {
    text-align: justify;
    height: auto;
}

.cards-container {
    background-color: #9EC1A3;
    padding-bottom: 100px;
    padding-top: 100px;
}

#show-sidebar-button {
    height: 30px;
    margin-left: 0px;
}

video {
    width: 100%;
}

.open_sidebar_button {
    position: fixed;
    top: 60px;
    left: 0px;
}

.close_sidebar_button {
    position: fixed;
    top: 60px;
    left: 250px;
}

.jumbotron {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white !important;
    border-color: #ee6f2f !important;
    border: solid 1px;
}

nav nav-item {
    background-color: #9EC1A3;
    color: white;
}

@media screen and (max-width: 992px) {
    #chart_div {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

@media screen and (min-width: 992px) {
    .padding-bottom-md-5-7 {
        padding-bottom: 5.7rem;
    }
}

#allocation-info {
    text-align: justify;
    font-size: larger;
}

#user_image_field {
    margin-top: 0.6rem;
}

@media screen and (max-width: 719px) {
    .item img {
        height: 100px;
        margin-left: 40%;
    }

    .item p {
        display: block;
        color: black;
    }

    #sidebar-button {
        margin-top: 55px;
    }

    #mySidebar {
        opacity: 1;
        background-color: white;
    }

    #user-photo {
        display: none;
    }
}



* {
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

#update-profile-button {
    width: 100%;
}

.table-container {
    width: 100%;
    position: relative;
}

.fa-arrow-circle-left, .fa-plus-circle, .fa-minus-circle, .fa-cloud-upload-alt, .fa-cloud-download-alt {
    font-size: 32px;
    cursor: pointer;
}

#add-tag, #add-specialization {
    color: rgb(81, 164, 130);
}

#remove-tag, #remove-specialization {
    color: rgb(238, 111, 47);
}

#access_denied_text {
    text-align: center;
}

.fc-bg table tbody .fc-today {
    background-color: rgba(238, 111, 47, 0.3);
}

.fc-content-skeleton table tbody .fc-event-container .fc-day-grid-event {
    background-color: rgba(81, 164, 130, 0.6);
    border-color: rgb(81, 164, 130);
}

input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -5px;
    left: -5px;
    position: absolute;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -5px;
    left: -5px;
    position: absolute;
    background-color: #51a482;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#welcome-message {
    color: #EE6F2F;
    text-align: center;
}

#sub-welcome-message {
    text-align: center;
}

#message-container {
    margin-left: 3rem;
}

.description-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
}

.card-accepted-option {
    background-color: #a8e3cb !important;
    margin-bottom: 20px;
}

.card-rejected-option {
    background-color: #fcbd9d !important;
    margin-bottom: 20px;
}

.ui-widget-overlay {
    opacity: 0.8 !important;
    background: #2F2E41 !important;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.button-modal {
    padding-top: 1rem;
}

#import-submit-button {
    width: 100%;
}

.green_cell {
    background-color: #a8e3cb !important;
}

.red_cell {
    background-color: #fcbd9d !important;
}

.yellow_cell {
    background-color: #f5f56e !important;
}

.valid-total {
    background-color: #a8e3cb !important;
    font-weight: 400;
}

.invalid-total {
    background-color: #fcbd9d !important;
    font-weight: 400;
}

#login-image {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.allocation-info {
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 2rem;
}

#accordion {
    border-color: #ee6f2f !important;
    border: solid 1px;
}

#dashboard-option {
    margin-top: 1rem;
}

.cards div:hover {
    cursor: move;
}

.input-group-prepend {
    height: 2.4rem;
}

#back-button {
    position: fixed;
    bottom: 1rem;
    z-index: 2;
    right: 1rem;
    cursor: pointer;
    margin-left: 2rem;
}

.trait-description{
    text-align: justify;
}

.breadcrumb{
    margin-left: 3rem;
    margin-top: 1rem;
    background-color: transparent !important;
}

    .breadcrumb .active{
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        font-size: large;
        text-decoration: none;
    }

.card-title{
    color: black;
}

#back-button-bean{
    height: 6rem;
    width: 6rem;
}
