﻿@model BachelorsDegreeManagement.ApplicationLogic.ViewModels.DeleteTagViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-11 col-md-5 col-xl-5 col-lg-5 jumbotron">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TagId" class="control-label"></label>
                <select asp-for="TagId" class="form-control" asp-items="ViewBag.Tags"></select>
            </div>
            @if (User.IsInRole("Professor"))
            {
                <div class="form-group">
                    <input type="checkbox" asp-for="@Model.Selected" />
                    <label asp-for="@Model.Selected">I want to delete it from the system's database.</label>
                </div>
            }
            <div class="form-group">
                <input type="submit" id="submit-button" value="Delete tag" class="btn btn-outline-danger" />
            </div>
        </form>
    </div>
</div>

<div id="back-button">
    <a class="btn btn-outline-secondary" asp-controller="UserTags" asp-action="Index"><i class="fas fa-chevron-left"></i> See list</a>
    <img src="~/images/svgs/single-eye-bean-outline.svg" alt="back-button-bean" id="back-button-bean" />
</div>