﻿@model BachelorsDegreeManagement.ApplicationLogic.DataModels.Tags

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Tags</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<div id="back-button">
    <a class="btn btn-outline-secondary" asp-controller="UserTags" asp-action="Index"><i class="fas fa-chevron-left"></i> See list</a>
    <img src="~/images/svgs/single-eye-bean-outline.svg" alt="back-button-bean" id="back-button-bean" />
</div>