﻿@model IEnumerable<BachelorsDegreeManagement.ApplicationLogic.DataModels.Tags>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="jumbotron row justify-content-center col-11 col-md-10 col-lg-10 col-xl-10">
        <div class="col-12 col-md-10 col-lg-10 col-xl-10">
            <p>
                <a asp-action="Create" data-toggle="tooltip" data-placement="bottom" title="Add a new keyword"><i class="fas fa-plus-circle"></i></a>
            </p>
        </div>
        <div class="col-12 col-xl-12 col-lg-12 col-md-12 table-responsive">
            <h3>The domain keywords:</h3>
            <table class="display compact" style="width:auto; position: relative" id="tagsTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>