﻿<div id="accordion">
    <div class="card">
        <div class="card-header" id="heading">
            <h5 class="mb-12">
                <button class="btn btn-link col-12 collapsed" data-toggle="collapse" data-target="#allocation-process-info" aria-expanded="false" aria-controls="allocation-process-info">
                    Allocation process
                </button>
            </h5>
        </div>

        <div id="allocation-process-info" class="collapse" aria-labelledby="heading" data-parent="#accordion">
            <div class="card-body">
                <p>
                    <a asp-action="#" class="allocate-projects" data-toggle="tooltip" data-placement="bottom" title="Start the allocation process"><i class="fas fa-cogs"></i></a>
                    Start the allocation process
                </p>
                <hr />
                <p>The allocation process has the following steps:</p>
                <ol>
                    <li>
                        Step 1: An option will be accepted if it is placed on a valid spot. E.g. if the professor has only 30 spots and the
                        option is placed on the 28th spot, then the option is accepted. But if the option's spot is greater than 30, then the option
                        will be analyzed in the next step.
                    </li>
                    <li>
                        Step 2: Based on the option's priority, the most prioritar option will be accepted.
                    </li>
                    <li>
                        Step 3: Furthermore, the administrator will post a new deadline and the process will be redone in order to match the rest of the students.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
