﻿
@{
    ViewData["Title"] = "Allocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-11 col-xl-8 col-lg-8 row justify-content-center jumbotron">
        <h3 class="col-12">Start the allocation process</h3>
        <div id="allocation-process-info" class="col-12">
            <hr />
            <p>The allocation process has the following steps:</p>
            <ol>
                <li>
                    Step 1: An option will be accepted if it is placed on a valid spot. E.g. if the professor has only 30 spots and the
                    option is placed on the 28th spot, then the option is accepted. But if the option's spot is greater than 30, then the option
                    will be analyzed in the next step.
                </li>
                <li>
                    Step 2: Based on the option's priority, the most prioritar option will be accepted.
                </li>
                <li>
                    Step 3: Furthermore, the administrator will post a new deadline and the process will be redone in order to match the rest of the students.
                </li>
            </ol>
        </div>

        <br />
        <div class="col-12">
            <button type="button" class="btn btn-primary allocate-projects" id="submit-button">
                <i class="fas fa-cogs"></i> Start
            </button>
        </div>
    </div>
    <div class="col-10" id="results">
    </div>
</div>
<div id="back-button">
    <a class="btn btn-outline-secondary" asp-controller="Options" asp-action="Index"><i class="fas fa-chevron-left"></i> See list</a>
    <img src="~/images/svgs/single-eye-bean-outline.svg" alt="back-button-bean" id="back-button-bean" />
</div>