﻿@model BachelorsDegreeManagement.ApplicationLogic.ViewModels.CreateOptionViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-11 col-md-5 col-xl-5 col-lg-5 jumbotron">
        <h4>Add a new option</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" id="type-field" onchange="getProjects()" required>
                    <option selected>
                        Proposed
                    </option>
                    <option>
                        Custom
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ProfessorId" class="control-label"></label>
                <select asp-for="ProfessorId" class="form-control" asp-items="ViewBag.Professors"
                        id="professor-field" onchange="getProjects()" required>
                    <option selected>Choose the professor</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Project" class="control-label" id="project-label"></label>
                <select asp-for="Project" class="form-control" id="project-field">
                    <option selected>"Choose a project"</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" id="description-field"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="submit-button" value="Create option" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div id="back-button">
    <a class="btn btn-outline-secondary" asp-controller="Options" asp-action="Index"><i class="fas fa-chevron-left"></i> See list</a>
    <img src="~/images/svgs/single-eye-bean-outline.svg" alt="back-button-bean" id="back-button-bean" />
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
