﻿@model BachelorsDegreeManagement.ApplicationLogic.DataModels.CustomOptions

@{
    ViewData["Title"] = "Delete custom option";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confirm delete action</h1>
<div class="row justify-content-center">
    <div class="col-11 col-md-5 col-xl-5 col-lg-5 jumbotron">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Custom option</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Professor)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Professor.FullName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.NumberForUser)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NumberForUser)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Status)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Discriminator)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Discriminator)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Student)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Student.FullName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Deadline)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Deadline.Date)
                </dd>
            </dl>

            <form asp-action="DeleteCustom">
                <input type="hidden" asp-for="Id" />
                <input type="submit" id="submit-button" value="Delete the option" class="btn btn-outline-danger" />
            </form>
        </div>
    </div>
</div>

<div id="back-button">
    <a class="btn btn-outline-secondary" asp-controller="Options" asp-action="Index"><i class="fas fa-chevron-left"></i> See list</a>
    <img src="~/images/svgs/single-eye-bean-outline.svg" alt="back-button-bean" id="back-button-bean" />
</div>