﻿@model BachelorsDegreeManagement.ApplicationLogic.DataModels.CustomOptions

@{
    ViewData["Title"] = "DetailsCustomOption";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-11 col-md-8 col-xl-8 col-lg-8 jumbotron">
        <h4>See the details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Professor)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Professor.FullName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Discriminator)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Discriminator)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Student)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Student.FullName)
            </dd>
        </dl>
    </div>
</div>

<div id="back-button">
    <a class="btn btn-outline-secondary" asp-controller="Options" asp-action="Index"><i class="fas fa-chevron-left"></i> See list</a>
    <img src="~/images/svgs/single-eye-bean-outline.svg" alt="back-button-bean" id="back-button-bean" />
</div>