﻿@model BachelorsDegreeManagement.ApplicationLogic.ViewModels.ShowOptionsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="jumbotron row justify-content-center col-11 col-md-10 col-lg-10 col-xl-10">
        @if (User.IsInRole("Student"))
        {
            <div class="col-12 col-md-10 col-lg-10 col-xl-10">
                <p>
                    <a asp-action="Create" data-toggle="tooltip" data-placement="bottom" title="Add a new option"><i class="fas fa-plus-circle"></i></a>
                </p>
                <hr />
            </div>
        }
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 table-responsive">
            <h3>Options based on the student-proposed projects</h3>
            <hr />
            <table class="display compact" id="customOptionsTable">
                <thead>
                    <tr>
                        @if (User.IsInRole("Student"))
                        {
                            <th>
                                Priority
                            </th>
                        }
                        <th>
                            Description
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Student
                        </th>
                        <th>
                            Teacher
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CustomOptions)
                    {
                    <tr>
                        @if (User.IsInRole("Student"))
                        {
                            <th>
                                @Html.DisplayFor(modelItem => item.NumberForUser)
                            </th>
                        }
                        <td class="description-text">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        @{ string extra_class = ""; }
                        @if (item.Status.Equals("accepted"))
                        {
                            extra_class = "green_cell";
                        }
                        else if (item.Status.Equals("rejected"))
                        {
                            extra_class = "red_cell";
                        }
                        else if (item.Status.Equals("inactive"))
                        {
                            extra_class = "yellow_cell";
                        }
                        <td class="@extra_class">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Professor.FullName)
                        </td>
                        <td>
                            <a asp-controller="Options" asp-action="DetailsCustomOption" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                            @if (User.IsInRole("Student") && item.Status.Equals("waiting"))
                            {
                                <a asp-action="EditCustom" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                                <a asp-action="DeleteCustom" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12 table-responsive">
            <h3>Options based on the teacher-proposed projects</h3>
            <hr />
            <table class="display compact" style="width: 100%; position: relative;" id="optionsTable">
                <thead>
                    <tr>
                        @if (User.IsInRole("Student"))
                        {
                            <th>
                                Priority
                            </th>
                        }
                        <th>
                            Description
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Student
                        </th>
                        <th>
                            Teacher
                        </th>
                        <th>
                            Project
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Options)
                    {
                    <tr>
                        @if (User.IsInRole("Student"))
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberForUser)
                            </td>
                        }

                        <td class="description-text">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        @{ string extra_class = ""; }
                        @if (item.Status.Equals("accepted"))
                        {
                            extra_class = "green_cell";
                        }
                        else if (item.Status.Equals("rejected"))
                        {
                            extra_class = "red_cell";
                        }
                        else if (item.Status.Equals("inactive"))
                        {
                            extra_class = "yellow_cell";
                        }
                        <td class="@extra_class">
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.Professor.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.Name)
                        </td>
                        <td>
                            <a asp-controller="Options" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                            @if (User.IsInRole("Student") && item.Status.Equals("waiting"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
