﻿@model BachelorsDegreeManagement.ApplicationLogic.ViewModels.SortOptionsViewModel

@{
    ViewData["Title"] = "Sort options";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Options != null && Model.Options.Count > 0)
{
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-8 col-xl-8 jumbotron">
            <div class="row justify-content-center">
                <div class="col-md-8 cards" style="padding-bottom: 20px;">
                    @{ int counter = 1;}
                    @foreach (var item in Model.Options)
                    {
                        <div class="row justify-content-around @(counter <= Model.MaxNumberOfProjects? "card-accepted-option": "card-rejected-option")" data-position=@((item as BachelorsDegreeManagement.ApplicationLogic.DataModels.OptionsBase).Place > 0 ? (item as BachelorsDegreeManagement.ApplicationLogic.DataModels.OptionsBase).Place:counter)
                             data-index=@((item as BachelorsDegreeManagement.ApplicationLogic.DataModels.OptionsBase).Id + "_" + (item as BachelorsDegreeManagement.ApplicationLogic.DataModels.OptionsBase).Discriminator)>
                            <div class="text-dark mb-3 col-md-12" style="opacity: 0.9">
                                <div class="card-header row justify-content-around">
                                    <div class="col-12">
                                        @if ((item as BachelorsDegreeManagement.ApplicationLogic.DataModels.OptionsBase).Discriminator.Equals("custom"))
                                        {
                                            <h6>Custom (proposed by the student)</h6>
                                        }
                                        else
                                        {
                                            <h6>Predefined (based on a project proposed by the professor)</h6>
                                        }
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">@Html.DisplayFor(modelItem => (item as BachelorsDegreeManagement.ApplicationLogic.DataModels.OptionsBase).Student.FullName)</h4>
                                    <p class="card-text">
                                        @Html.DisplayFor(modelItem => (item as BachelorsDegreeManagement.ApplicationLogic.DataModels.OptionsBase).Description)
                                        <hr />
                                        @if ((item as BachelorsDegreeManagement.ApplicationLogic.DataModels.OptionsBase).Discriminator.Equals("proposed"))
                                        {
                                            <a href="/Options/Details/@((item as BachelorsDegreeManagement.ApplicationLogic.DataModels.OptionsBase).Id)" target="_blank"> See option's details</a>
                                        }
                                        else
                                        {
                                            <a href="/Options/DetailsCustomOption/@((item as BachelorsDegreeManagement.ApplicationLogic.DataModels.OptionsBase).Id)" target="_blank"> See option's details</a>

                                        }
                                    </p>

                                </div>
                            </div>
                        </div>
                        counter = counter + 1;
                    }
                </div>
                <input type="hidden" value="@Model.MaxNumberOfProjects" id="maxNumberOfOptions" />
                <div class="col-md-8">
                    <button class="btn btn-lg btn-primary submit-options-button" id="submit-button">Save order</button>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="row justify-content-end">
        <div class="col-10">
            <h3 id="options-header">There are no options available...</h3>
        </div>
        <div class="col-10">
            <img src="~/images/svgs/empty.svg" alt="empty-image" id="empty-image" />
        </div>
    </div>
}
<div id="back-button">
    <a class="btn btn-outline-secondary" asp-controller="Options" asp-action="Index"><i class="fas fa-chevron-left"></i> See list</a>
    <img src="~/images/svgs/single-eye-bean-outline.svg" alt="back-button-bean" id="back-button-bean" />
</div>